html{
    font-size: 62.5%;
    box-sizing: border-box;
    overflow-x: hidden;
}
*, *:before, *:after{
	margin: 0;
	padding: 0;
    box-sizing: inherit;
}
body{
	background-color: var(--white);
}
h1{
	font-size: 3rem;
	font-weight: 600;
}
h2{
	font-size: 2.6rem;
	font-weight: 600;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
p{
    font-size: 1.5rem;
}
li{
    font-size: 1.5rem;
}
a{
    text-decoration: none;
    font-size: 1.5rem;
}
ul{
    list-style: none;
}
