:root {
	--shadow: 0 3px 4px rgba(0, 0, 0, 1), inset 0 -2px 5px rgba(0, 0, 0, 1),
		inset 0 2px 2px rgba(255, 255, 255, 0.5), 0 0 0 2px #000, 0 0 0 5px #0c0c0c, 0 0 0 5.5px #080808;

	--cardBgColor: #1b1b1b;
}

.card {
	@apply rounded-lg p-6 text-white;
	display: flex;
	flex-direction: column;
	gap: 10px;
	background: var(--cardBgColor);
	box-shadow: var(--shadow);
}

/*  === SLIDER === */
.slider-wrapper {
	@apply relative w-full;
}

.slider-wrapper__input {
	@apply w-full;
}

.slider-wrapper__value {
	position: relative;
	width: fit-content;
	left: var(--left);
	/* this transform is to fit in position */
	transform: translateX(calc(var(--left) * -1));
}

/* === PASSWORD FIELD === */
.password-field {
	@apply rounded flex items-center justify-between py-2 pr-2 pl-5 gap-2 font-bold;
	background: #ecf0f3;
	box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
	color: var(--cardBgColor);
}

/* === BUTTON === */
.card__btn {
	width: 100%;
	box-shadow: var(--shadow);
	cursor: pointer;
	padding: 8px 12px;
}
