@media only screen and (min-width : 901px) {
	.pd-main {padding: 3rem;}
	.pg-card {width: 40%;}
	h1 {font-size: 2rem;}
	.pg-card {padding: 10px 25px 10px 25px;}
	.pass {font-size: 1.5rem;}
	span, p {font-size: 1.1rem;}
	#msj{
		position: fixed;
		bottom: 10px;
    	right: 10px;
	}
	.pg-msj {font-size: 1.3rem;}
}
@media only screen and (max-width : 900px) {
	.pd-main {padding: 1.5rem;}
	.pg-card {width: 95%;}
	h1 {font-size: 1.8rem;}
	.pg-card {padding: 10px;}
	.pass {font-size: 1.3rem;}
	span, p {font-size: 1rem;}
	#msj{
		position: relative;
		bottom: 0px;
		right: auto;
		margin-bottom: -15px;
	}
	.pg-msj {font-size: 1rem;}
}
svg:hover {opacity: .75;}
.column-center {
	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.pg-card {
    background-color: #2f2f32;
    color: #efefef;
    padding: 10px 25px 10px 25px;
	padding: 10px;
    border-radius: 10px;
}
.pg-card h1 {
    text-align: center;
    cursor: default;
    padding-bottom: 15px;
}
.pg-pass {
    width: 90%;
    min-height: 50px;
    background-color: #585566;
    padding: 10px;
    border-radius: 10px;
	position: relative;
}
#msj{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.pg-msj {
    border-radius: 10px;
    color: #e5e5e5;
    margin: 0.5rem;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    background-color: #04ff634d;
}
.pg-generator {
    width: 90%;
    background-color: #585566;
    padding: 10px;
    border-radius: 10px;
    margin-top: 20px;
}
.slider {
	-webkit-appearance: none;
	width: 90%;
	height: 12px;
	border-radius: 5px;
	background: #071244;
	outline: none;
	opacity: 0.7;
	-webkit-transition: .2s;
	transition: opacity .2s;
	margin: 0 10px;
}  
.slider:hover {opacity: 1;} 
.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #0a06e2;
	cursor: pointer;
}
.slider::-moz-range-thumb {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #0a06e2;
	cursor: pointer;
}
input[type=range]::-webkit- -s-lower {
    background: #777;
}
.row {
	display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.pt-10 {padding-top: 10px;}
.ptb {
	padding-top: 25px;
    padding-bottom: 10px;
}
.btn-copy {
	position: absolute;
    top: 17px;
    right: 10px;
}
.button-75 {
  align-items: center;
  background-image: linear-gradient(135deg, #071244 50%, #0a06e2);
  border: 0;
  border-radius: 10px;
  box-sizing: border-box;
  color: #efefef;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-family: "Codec cold",sans-serif;
  font-size: 16px;
  font-weight: 700;
  height: 54px;
  justify-content: center;
  letter-spacing: .4px;
  line-height: 1;
  max-width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 3px;
  text-decoration: none;
  text-transform: uppercase;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.button-75:active, .button-75:hover {outline: 0;}
.button-75 span {transition: all 200ms;}
.button-75:hover span {
  transform: scale(.9);
  opacity: .75;
}
@media screen and (max-width: 991px) {
  .button-75 {
    font-size: 15px;
    height: 50px;
  }
  .button-75 span {line-height: 50px;}
}