.input {
	margin: 1.5rem 0;
	padding: 16px;
	width: 100%;
	height: 50px;
	background: linear-gradient(
		90deg,
		rgba(255, 226, 125, 0.1) 0%,
		rgba(100, 227, 255, 0.1) 50.52%,
		rgba(145, 146, 255, 0.1) 100%
	);
	border: 1px solid rgb(229, 225, 230);
	border-radius: 4px;
	color: rgb(229, 225, 230);
}

.input:hover {
	border-color: #40ddff;
}

@media (min-width: 640px) {
	.sm\:leading-snug {
		line-height: 1.375;
	}
}
