---
import Layout from '@layout'
import PasswordGenerator from '@components/jizquierdoh/PasswordGenerator'
---

<Layout title='Simple Password Generator'>
	<div class='flex flex-col items-center justify-center gap-2 h-screen w-screen'>
		<PasswordGenerator client:visible />
	</div>
</Layout>
