---
import Layout from '@layout'
import Generator from '@components/MateeoCodes'
---

<Layout title='Mateeocodes'>
	<main class='px-4 pt-20 max-w-xl mx-auto'>
		<h1 class='text-3xl sm:text-4xl text-center text-zinc-200 my-8'>Password Generator</h1>
		<Generator client:visible />
	</main>
</Layout>
