.generatorWrapper {
	margin-top: 2.5rem;
	padding: 0 2.5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.generatorWrapper h2 {
	text-align: center;
	line-height: 2.5rem;
	color: #e5e1e6;
	font-size: 3rem;
	font-family: Orbitron, sans-serif;
	filter: drop-shadow(rgba(255, 215, 77, 0.6) -1px -1px 2px)
		drop-shadow(rgba(124, 127, 255, 0.6) 1px 1px 2px);
}

.optionsWrapper {
	border: 1px solid #e5e1e6;
	border-radius: 8px;
	padding: 1rem;
	margin-bottom: 2rem;
	width: 100%;
	transition: border-color 0.2s ease 0s;
}

.optionsWrapper:hover {
	border-color: #40ddff;
}

.optionsWrapper:hover > label:first-child {
	color: #40ddff;
}

.optionsWrapper label {
	font-size: 1.1rem;
	color: #e5e1e6;
	text-shadow: rgb(255 215 77 / 60%) -1px -1px 6px, rgb(124 127 255 / 60%) 1px 1px 6px;
	overflow-wrap: break-word;
}

.optionsWrapper label > div {
	display: flex;
	gap: 1ch;
	margin-top: 1rem;
}

.optionsWrapper label:first-child::before {
	content: '[';
	margin-right: 1ch;
}

.optionsWrapper label:first-child::after {
	content: ']';
	margin-left: 1ch;
}
