.generatorWrapper {
	margin-top: 2.5rem;
	padding: 0 2.5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.generatorWrapper h2 {
	text-align: center;
	line-height: 2.5rem;
	color: #e5e1e6;
	font-size: 3rem;
	font-family: Orbitron, sans-serif;
	filter: drop-shadow(rgba(255, 215, 77, 0.6) -1px -1px 2px)
		drop-shadow(rgba(124, 127, 255, 0.6) 1px 1px 2px);
}
