---
import Layout from '@layout'
import { PasswordGenerator } from '@components/Andresargote/PasswordGenerator.jsx'
---

<Layout title='Andresargote'>
	<main class='max-w-lg m-auto p-4'>
		<PasswordGenerator client:visible />
		<p class='text-sm text-center text-white font-mono mt-6'>
			With 💙 by <a
				href='https://github.com/Andresargote'
				title='Andresargote Github profile'
				target='_blank'
			>
				@Andresargote
			</a>
		</p>
	</main>
</Layout>
