---
import Layout from '@layout'
import PasswordGenerator from '@components/johansantana/PasswordGenerator.vue'
// import '@components/johansantana/fonts.css'
import '@components/johansantana/styles/binary.css'
import '@components/johansantana/styles/fonts.css'
---

<Layout title='johansantana - Solucion'>
	<main class='bg-[url("/grain-dark.png")] min-h-screen flex items-center justify-center p-10'>
		<PasswordGenerator client:visible />
	</main>
</Layout>
