---
import Layout from '@layout'
import FormPassword from '@components/Dbaljeet/FormPassword'
---

<Layout title='Dbaljeet'>
	<main class='flex justify-items-center flex-col text-white gap-y-5'>
		<h1 class='text-6xl m-auto text-center py-10'>Password Generator</h1>
		<FormPassword client:visible />
	</main>
</Layout>
