---
import Layout from '@layout'
import PasswordGenerator from '@components/EddCode'
---

<Layout title="EddCode Password Generator">
	<main class='text-center mt-12 w-1/2 mx-auto'>
		<h1 class='text-3xl font-semibold text-white'>Password Generator</h1>
		<PasswordGenerator client:visible />
	</main>
</Layout>
