---
import Layout from '@layout'
---

<Layout title='pipegoods <> Hacktoberfest 2022'>
	<main
		class='grid min-h-screen place-content-center text-white bg-gradient-to-r from-purple-500 to-pink-500'
	>
		<div class='bg-white/30 backdrop-blur-lg px-10 pt-10 pb-5 text-center rounded-md'>
			<h1 class='font-bold text-2xl'>Generador de contrase単as</h1>
			<p class='font-light text-xs'>Genera contrase単as seguras y aleatorias</p>

			<form id='formPassword' class='flex flex-col gap-3 mt-5'>
				<div class='flex gap-3 items-center'>
					<input
						class='bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5'
						type='text'
						name='password'
						id='password'
						readonly
					/>

					<div class='relative flex flex-col items-center group'>
						<button type='button' id='button-copy'>
							<svg
								xmlns='http://www.w3.org/2000/svg'
								class='fill-white hover:fill-purple-500 cursor-pointer'
								width='30'
								height='30'
								viewBox='0 0 512 512'
								><path
									d='M224 0c-35.3 0-64 28.7-64 64v224c0 35.3 28.7 64 64 64h224c35.3 0 64-28.7 64-64V64c0-35.3-28.7-64-64-64H224zM64 160c-35.3 0-64 28.7-64 64v224c0 35.3 28.7 64 64 64h224c35.3 0 64-28.7 64-64v-64h-64v64H64V224h64v-64H64z'
								></path>
							</svg>
						</button>
						<div class='absolute bottom-3 flex-col items-center hidden mb-6 group-hover:flex'>
							<span
								class='relative z-10 p-2 text-xs leading-none text-white whitespace-no-wrap bg-black shadow-lg rounded-md'
								id='text-tooltip'>Copiar</span
							>
							<div class='w-3 h-3 -mt-2 rotate-45 bg-black'></div>
						</div>
					</div>
				</div>
				<div class='flex gap-2 items-center'>
					<input
						id='large-range'
						value='10'
						type='range'
						min='5'
						max='20'
						class='w-full h-3 bg-gray-200 rounded-lg appearance-none cursor-pointer range-lg'
						oninput='this.nextElementSibling.value = this.value'
					/>
					<output class='font-bold'>10</output>
				</div>

				<button
					type='submit'
					class='text-white bg-pink-600 focus:ring-4 hover:bg-purple-600 focus:ring-pink-300 font-medium rounded-lg text-sm px-5 py-2.5 focus:outline-none'
					>Generar password</button
				>
			</form>

			<footer class='mt-10'>
				<a
					class='flex gap-2 justify-center items-center flex-row underline'
					href='https://github.com/pipegoods/'
					target='_blank'
					rel='noopener noreferrer'
				>
					<img src='/pipegoods/github-icon.svg' alt='Icono de github' width='20' height='20' />
					pipegoods</a>
			</footer>
		</div>
	</main>
</Layout>

<script is:inline>
	// Funcion helper para obtener elementos del DOM
	const $ = (selector) => document.querySelector(selector)

	// Constantes de caracteres
	const uppercaseChars = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ'
	const lowercaseChars = 'abcdefghijklmnopqrstuvwxyz'
	const numbers = '0123456789'
	const symbols = '!@#$%^&*()_+~`|}{?><,./-='

	// Elementos del DOM
	const formPassword = $('#formPassword')
	const password = $('#password')
	const largeRange = $('#large-range')
	const buttonCopy = $('#button-copy')
	const textTooltip = $('#text-tooltip')

	const generatePassword = () => {
		// Obtenemos el valor del rango
		const large = largeRange.value

		// Generamos un string con todos los posibles caracteres
		const chars = uppercaseChars + lowercaseChars + numbers + symbols

		// Creamos un acumulador
		let passwordValue = ''

		// Iteramos sobre el largo de los posibles caracteres y con el metodo Math.random() obtenemos un numero aleatorio que seran los indices de los caracteres en el string de posibles caracteres.
		for (let i = 0; i < large; i++) {
			passwordValue += chars.charAt(Math.floor(Math.random() * chars.length))
		}

		// Asignamos el valor al input
		password.value = passwordValue
	}

	function copyPassword() {
		// utilizamos navigator.clipboard para copiar el valor del input
		navigator.clipboard.writeText(password.value)

		// Cambiamos el texto del tooltip
		textTooltip.textContent = 'Copiado!'

		// Cambiamos el texto del tooltip despues de 2 segundo
		setTimeout(() => {
			textTooltip.textContent = 'Copiar'
		}, 2000)
	}

	// Evento cuando cambie el valor del slider, genera un nuevo password
	largeRange.addEventListener('input', generatePassword)

	// Evento cuando se le da click al boton, copia el password en el portapapeles
	buttonCopy.addEventListener('click', copyPassword)

	// Evento submit del formulario
	formPassword.addEventListener('submit', (e) => {
		// Evitamos que se recargue la pagina
		e.preventDefault()

		// Generamos la contrase単a
		generatePassword()
	})

	// Generamos la contrase単a al cargar la pagina
	generatePassword()
</script>
