/* @link https://medium.com/claritydesignsystem/pure-css-accessible-checkboxes-and-radios-buttons-54063e759bb3 */

.marsidev-checkbox input[type='checkbox'] {
	opacity: 0;
}

.marsidev-checkbox label {
	position: relative;
	display: inline-block;
	padding-left: 32px;
	user-select: none;
}

.marsidev-checkbox label::before,
.marsidev-checkbox label::after {
	position: absolute;
	content: '';
	display: inline-block;
	border-radius: 5px;
	background-color: white;
}

/* Outer box of the fake checkbox */
.marsidev-checkbox label::before {
	height: 24px;
	width: 24px;
	border: 1px solid;
	left: 0;
	top: 0;
	margin-top: 8px;
}

/* Check mark of the fake checkbox */
.marsidev-checkbox label::after {
	height: 7px;
	width: 14px;
	border-left: 3px solid;
	border-bottom: 3px solid;
	transform: rotate(-45deg);
	border-radius: 0;
	left: 6px;
	top: 15px;
	border-color: #0572ec;
}

/* Hide the check mark by default */
.marsidev-checkbox input[type='checkbox'] + label::after {
	content: none;
}

/* Un-hide on the checked state */
.marsidev-checkbox input[type='checkbox']:checked + label::after {
	content: '';
}

.marsidev-checkbox input[type='checkbox']:focus + label::before {
	outline: #0572ec auto 6px;
}

