/* @link https://css-tricks.com/styling-cross-browser-compatible-range-inputs-css/ */

.marsidev-slider {
	appearance: none;
	margin: 18px 0;
	width: 100%;
}

.marsidev-slider:focus {
	outline: none;
}

.marsidev-slider::-webkit-slider-runnable-track {
	width: 100%;
	height: 8.4px;
	cursor: pointer;
	box-shadow: 1px 1px 1px #000, 0 0 1px #0d0d0d;
	background: #3071a9;
	border-radius: 1.3px;
	border: 0.2px solid #010101;
}

.marsidev-slider::-webkit-slider-thumb {
	box-shadow: 1px 1px 1px #000, 0 0 1px #0d0d0d;
	border: 1px solid #000;
	height: 36px;
	width: 16px;
	border-radius: 3px;
	background: #fff;
	cursor: pointer;
	appearance: none;
	margin-top: -14px;
}

.marsidev-slider:focus::-webkit-slider-runnable-track {
	background: #367ebd;
}

.marsidev-slider::-moz-range-track {
	width: 100%;
	height: 8.4px;
	cursor: pointer;
	box-shadow: 1px 1px 1px #000, 0 0 1px #0d0d0d;
	background: #3071a9;
	border-radius: 1.3px;
	border: 0.2px solid #010101;
}

.marsidev-slider::-moz-range-thumb {
	box-shadow: 1px 1px 1px #000, 0 0 1px #0d0d0d;
	border: 1px solid #000;
	height: 36px;
	width: 16px;
	border-radius: 3px;
	background: #fff;
	cursor: pointer;
}

.marsidev-slider::-ms-track {
	width: 100%;
	height: 8.4px;
	cursor: pointer;
	background: transparent;
	border-color: transparent;
	border-width: 16px 0;
	color: transparent;
}

.marsidev-slider::-ms-fill-lower {
	background: #2a6495;
	border: 0.2px solid #010101;
	border-radius: 2.6px;
	box-shadow: 1px 1px 1px #000, 0 0 1px #0d0d0d;
}

.marsidev-slider::-ms-fill-upper {
	background: #3071a9;
	border: 0.2px solid #010101;
	border-radius: 2.6px;
	box-shadow: 1px 1px 1px #000, 0 0 1px #0d0d0d;
}

.marsidev-slider::-ms-thumb {
	box-shadow: 1px 1px 1px #000, 0 0 1px #0d0d0d;
	border: 1px solid #000;
	height: 36px;
	width: 16px;
	border-radius: 3px;
	background: #fff;
	cursor: pointer;
}

.marsidev-slider:focus::-ms-fill-lower {
	background: #3071a9;
}

.marsidev-slider:focus::-ms-fill-upper {
	background: #367ebd;
}
