.marsidev-toast {
	position: relative;
	z-index: 2;
	background: #ddd;
	padding: 1rem;
	min-height: 200px;
	min-width: 200px;
}

.marsidev-toast::after {
	content: ' ';
	position: absolute;
	bottom: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: transparent transparent #ddd;
}
