---
import KeyIcon from '@components/devenapuros/icons/KeyIcon.astro'
---

<style>
	header {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 0.5rem;
	}

	.icon-container {
		padding: 4px;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 70px;
		height: 70px;
		border-radius: 22px;
		border: 1px solid #00000020;
	}

	.brand-title {
		text-align: center;
	}

	.brand-title h1 {
		font-size: 32px;
		font-weight: 700;
		margin-bottom: -6px;
	}

	.brand-title > h1 > .blue-span {
		color: #0085ee;
	}

	.brand-title > small {
		color: #888;
		font-size: 14px;
	}
</style>

<header>
	<div class='icon-container'>
		<KeyIcon />
	</div>
	<div class='brand-title'>
		<h1>Midu<span class='blue-span'>Pass</span></h1>
		<small>Password Generator</small>
	</div>
</header>
