<style>
	.pass-lenght-container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.pass-lenght-label {
		font-weight: 600;
	}

	.pass-lenght-result {
		font-weight: 600;
		color: #0085ee;
		font-size: 1.3rem;
	}
</style>

<div class='pass-lenght-container'>
	<span class='pass-lenght-label'>Password lenght</span>
	<span class='pass-lenght-result'>23</span>
</div>
