<style>
	button {
		padding: 10px;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 17px;
		font-weight: 600;
		border-radius: 12px;
		background-color: #0085ee;
		color: white;
		transition: background-color 300ms ease;
	}

	button:hover {
		background-color: #0096ff;
	}
</style>
<button id='devenapuros-primary-btn'>
	<slot />
</button>
