<style>
	button {
		padding: 10px;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 17px;
		font-weight: 600;
		border-radius: 12px;
		background-color: #0085ee;
		color: white;
		transition: background-color 300ms ease;
	}

	button:hover {
		background-color: #0096ff;
	}
</style>

<script>
	const dvaPrimaryBtn = document.getElementById('devenapuros-primary-btn')
	dvaPrimaryBtn.addEventListener('click', () => {
		console.log('click')
	})
</script>

<button id='devenapuros-primary-btn'>
	<slot />
</button>
