<style>
	.slider-container {
		margin: 15px 0;
		position: relative;
		display: flex;
		align-items: center;
		height: 5px;
		width: 100%;
		background-color: #ccc;
		border-radius: 5px;
	}

	.slider-bar {
		position: absolute;
		height: 5px;
		width: 40%;
		background-color: #0085ee;
		border-radius: 5px;
	}

	.slider-button {
		position: absolute;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 22px;
		width: 22px;
		left: calc(40% - 11px);
		background-color: white;
		border-radius: 100%;
		border: 1px solid #00000035;
		transition: border 300ms ease;
	}

	.slider-button:hover {
		cursor: pointer;
		border: 1px solid #0085ee;
	}
</style>
<div class='slider-container'>
	<div class='slider-bar'></div>
	<div class='slider-button'></div>
</div>
