.main {
	width: 100%;
	height: 100vh;
	gap: 5vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.title {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.title img {
	filter: invert(100%);
	width: 30%;
}

.title h1 {
	color: white;
	font-size: 5vw;
}

.password {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1vw;
}

.password h2 {
	color: white;
	font-size: 3vw;
}

.password button {
	width: 3vw;
}

.password img {
	filter: invert(100%);
	width: 100%;
}

.generator {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.generator label {
	color: white;
	font-size: 2vw;
}

.generator p {
	color: white;
	font-size: 1.5vw;
}

.generator input {
	accent-color: white;
}

.generator button {
	background-color: white;
	padding: 1vw 2vw;
	border-radius: 2.9vw;
	margin-top: 2vh;
}
