---
import Button from '@components/renatomendozac/components/Button.svelte'
import ShowPassword from '@components/renatomendozac/containers/ShowPassword'
import ShowSlider from '@components/renatomendozac/containers/ShowSlider.vue'
---

<main class='bg-slate-900 w-full h-full space-y-4 flex justify-center items-center'>
	<div class='flex flex-col gap-2 w-full max-w-xs'>
		<h1 class='text-slate-500 font-semibold p-1 text-center'>Password Generator</h1>
		<ShowPassword client:load />
		<ShowSlider client:load />
		<Button client:load>Generate</Button>
	</div>
</main>
