---
import Page from '@components/eyubkh/Page'
---

<!DOCTYPE html>
<html lang='en'>
	<head>
		<meta charset='UTF-8' />
		<title>eyubkh</title>
	</head>
	<body>
		<Page client:load />
	</body>
</html>
