---
import Home from '@components/eyubkh/Home'
---

<!DOCTYPE html>
<html lang='en'>
	<head>
		<meta charset='UTF-8' />
		<title>eyubkh</title>
	</head>
	<body>
		<Home client:load />
	</body>
</html>
