#kurotom-contenedor {
	display: flex;
	flex-direction: column;
	row-gap: 1rem;
	border: 2px solid gray;
	padding: 1rem;
	background-color: #eee;
	margin: 0 auto;
	max-width: 20rem;
}

#kurotom-screen {
	display: flex;
	flex-direction: column;
	border: 1px solid gray;
}

#kurotom-screen-resultado {
	height: 13rem;
	overflow-wrap: break-word;
	font-size: 16px;
	padding: 5px;
	background-color: white;
	border: 1px solid gray;
}

#kurotom-screen-interact {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	border-top: 2px solid gray;
}

#kurotom-screen-banner {
	width: 10rem;
	text-align: center;
	align-items: center;
	display: flex;
	justify-content: center;
	font-size: 22px;
	font-weight: bold;
}

#kurotom-screen-icons {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	column-gap: 2rem;
	padding: 1px 5px;
}

.kurotom-iconApp {
	font-size: 2rem;
}

#kurotom-paperclip {
	font-size: 1.9rem;
	padding-bottom: 4px;
}

#kurotom-paperclip:hover {
	transform: scale(1.1);
}

#kurotom-trash {
	color: #42515b;
	text-shadow: 0 0 1px gray;
}

#kurotom-trash:hover {
	transform: scale(1.1);
}

#kurotom-control {
	text-align: center;
	column-gap: 1rem;
	display: flex;
	flex-direction: row;
}

#kurotom-control-div-span {
	display: flex;
	flex-direction: column;
	row-gap: 0.5rem;
	align-items: center;
	justify-content: center;
}

#kurotom-control-span2 {
	font-weight: bold;
}

#kurotom-control-input {
	width: 100%;
}

#kurotom-opciones {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	column-gap: 1rem;
	row-gap: 1rem;
}

.kurotom-opciones-div {
	display: flex;
	column-gap: 5px;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.kurotom-opciones-check {
	transform: scale(1.5);
}

#kurotom-btn {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#kurotom-btn-button {
	width: 150px;
	border: none;
	background-color: lightblue;
	border-radius: 1rem;
	padding-top: 10px;
	padding-bottom: 10px;
	color: white;
	font-weight: bold;
	text-shadow: 0 0 2px orangered;
}

#kurotom-btn-button:hover {
	transform: scale(1.1);
	background-color: lightblue;
	color: black;
	box-shadow: 0 1px 5px navy;
	text-shadow: 0 0 2px white;
}

#kurotom-btn-button:active {
	transform: scale(1.1);
	background-color: lightblue;
	color: blue;
}
