---
import Layout from '@layout'
import UltraGradientBackground from '@components/buhodev/UltraGradientBackground.svelte'
---

<Layout title='Buhodev'>
	<a href='./app'>
		<UltraGradientBackground client:load />
	</a>
</Layout>