---
import Layout from '@layout'
import UltraGradientBackground from '@components/buhodev/UltraGradientBackground.svelte'
---

<Layout title='Buhodev'>
	<UltraGradientBackground client:load />
	<div
		class='max-w-5xl absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 flex flex-col items-center mx-auto text-white'
	>
		<h1 class='text-6xl text-center font-bold font-mono'>
			Unlock the power of world-class password generation
		</h1>

		<div class='flex justify-between gap-4 mt-8'>
			<div
				class='group border flex flex-col justify-center h-44 w-48 border-white/10 bg-black/30 backdrop-blur-xl rounded-md p-4'
			>
				<img src='/buhodev/category.svg' class='group-hover:hidden block w-10 mb-2' alt='' />
				<img src='/buhodev/category.webp' class='group-hover:block hidden w-10 mb-2' alt='' />
				<h2 class='font-bold'>Truly random</h2>
				<p>Use your mouse to create a real random seed.</p>
			</div>
			<div
				class='group border flex flex-col justify-center mt-12 h-44 w-48 border-white/10 bg-black/30 backdrop-blur-xl rounded-md p-4'
			>
				<img src='/buhodev/speed.svg' class='group-hover:hidden block w-10 mb-2' alt='' />
				<img src='/buhodev/speed.webp' class='group-hover:block hidden w-10 mb-2' alt='' />
				<h2 class='font-bold'>Performant</h2>
				<p class='text-gray-100'>Get instant feedback when you interact with the app.</p>
			</div>
			<div
				class='group border flex flex-col justify-center h-44 w-48 border-white/10 bg-black/30 backdrop-blur-xl rounded-md p-4'
			>
				<img src='/buhodev/chat.svg' class='group-hover:hidden block w-10 mb-2' alt='' />
				<img src='/buhodev/chat.webp' class='group-hover:block hidden w-10 mb-2' alt='' />
				<h2 class='font-bold'>Minimal</h2>
				<p class='text-gray-100'>Focus on what's important with a delightful UI.</p>
			</div>
			<div
				class='group border flex flex-col justify-center mt-12 h-44 w-48 border-white/10 bg-black/30 backdrop-blur-xl rounded-md p-4'
			>
				<img src='/buhodev/check.svg' class='group-hover:hidden block w-10 mb-2' alt='' />
				<img src='/buhodev/check.webp' class='group-hover:block hidden w-10 mb-2' alt='' />
				<h2 class='font-bold'>Secure</h2>
				<p class='text-gray-100'>Made following FBI standards for password generation.</p>
			</div>
		</div>
		<a
			href='/entry/buhodev/app'
			class='mt-8 text-lg text-center py-2 px-12 rounded-lg bg-blue-600 self-center'>Get started</a
		>
		<a class='mt-4 text-slate-900' href='https://lordicon.com/'>Animated icons by Lordicon.com</a>
	</div>
</Layout>

<style>
	h1 {
		text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.75);
	}
</style>
