.container {
	color: white;
	display: flex;
	flex-direction: column;
	width: 300px;
	gap: 10px;
	margin: 200px auto;
	border: 1px solid white;
	border-radius: 10px;
	padding: 50px;
}

.password-display {
	height: 30px;
	background-color: white;
	color: black;
	display: flex;
}

.message__success {
	color: green;
}

.generate-btn {
	border-radius: 6px;
	border: 1px solid white;
}

.copy-icon {
	margin-left: auto;
}