---
import Layout from '@layout'
import Page from '@components/LcsGrz'
---

<Layout title='LcsGrz Random Password Generator'>
	<div class='h-screen flex items-center justify-center'><Page client:visible /></div>
</Layout>
