---
import Layout from '@layout'
import Page from '@components/LcsGrz/Page.jsx'
---

<Layout title='LcsGrz Password Generator'>
	<div class='h-screen flex items-center justify-center'><Page client:visible /></div>
</Layout>
