---
import Layout from '@layout'
import PasswordGenerator from '@components/codingcodax/PasswordGenerator'
---

<Layout title='Password Generator by codingcodax'>
	<div class='h-full w-full flex items-center justify-center bg-zinc-900 text-white text-lg'>
		<PasswordGenerator client:load />
	</div>
</Layout>
