---
import Layout from '@layout'
import PasswordGenerator from '@components/codingcodax/PasswordGenerator'
---

<Layout title='Password Generator by codingcodax'>
	<div class='h-full w-full'>
		<PasswordGenerator />
	</div>
</Layout>
