#svgtest {
	position: absolute;
	transform: translateX(-50%) translateY(100%);
	animation: show 1s ease-in-out normal forwards;
	bottom: 0;
	z-index: 3;
}

#divtest {
	position: relative;
	overflow: hidden;
	height: 500px;
	width: 100%;
	background-color: blue;
}

#castle {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%) translateY(100%);
	animation: show 1s ease-in-out forwards;
	z-index: 1;
}
@keyframes show {
	to {
		transform: translateX(-50%) translateY(0%);
	}
}
@keyframes hidde {
	to {
		transform: translateX(-50%) translateY(100%);
	}
}
