#eyubkh-generate {
	z-index: 1;
	display: grid;
	justify-content: center;
	border-top: 30px solid red;
	border-right: 15px solid red;
	border-left: 15px solid red;
	border-bottom: 10px solid transparent;
	width: 26px;
	cursor: pointer;
	padding-bottom: 10px;
	transition: border-top ease-in 0.3s;
}

#eyubkh-generate:hover {
	border-top: 50px solid red;
}
