#eyubkh-generate-card {
	display: flex;
	flex-direction: column;
	position: absolute;
	gap: 10px;
	left: 50%;
	top: 10%;
	transform: translateX(-50%);
	z-index: 999;
	background-color: azure;
	padding: 30px 60px;
}

#eyubkh-button {
	padding: 10px 30px;
	background-color: antiquewhite;
}
