#eyubkh-generate-card {
	position: absolute;
	display: grid;
	place-content: center;
	width: 420px;
	left: 50%;
	top: 10%;
	transform: translateX(-50%);
	background-color: transparent;
	padding: 30px 60px;
	z-index: 999;
}

#eyubkh-generate-card-layaut {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 20px;
	margin-top: -20px;
	height: 100px;
	z-index: -1;
}
