#eyubkh-password {
	position: relative;
	text-align: center;
	background-color: #9a87c9;
	padding: 10px 50px;
	border-radius: 7px;
	width: 400px;
}

#eyubkh-password-text {
	color: white;
}

.eyubkh-password-cone {
	z-index: -1;
	position: absolute;
	border-top: 10px solid transparent;
	border-right: 15px solid transparent;
	border-left: 15px solid transparent;
	border-bottom: 10px solid transparent;
}

#eyubkh-password-cone-left-top {
	border-right: 15px solid #8172af;
	left: -29px;
	top: 4px;
}

#eyubkh-password-cone-left-bottom {
	border-right: 15px solid #8172af;
	left: -29px;
	top: 20px;
}

#eyubkh-password-cone-right-top {
	border-left: 15px solid #8172af;
	right: -29px;
	top: 4px;
}

#eyubkh-password-cone-right-bottom {
	border-left: 15px solid #8172af;
	right: -29px;
	top: 20px;
}
