/* Input Range */

.david-fb__range input[type='range'] {
	-webkit-appearance: none;
	margin-right: 15px;
	width: 100%;
	height: 8px;
	background: var(--david-fb_bg-color);
	background-image: linear-gradient(to left, #7fc43c, #40b852);
	background-size: 0% 100%;
	background-repeat: no-repeat;
}

.david-fb__range input[type='range']::-webkit-slider-thumb {
	-webkit-appearance: none;
	height: 18px;
	width: 18px;
	border-radius: 9999px;
	background: #fff;
	cursor: ew-resize;
	box-shadow: 0 0 2px 0 #555;
	transition: background 0.3s ease-in-out;
}
/* Firefox */
.david-fb__range input[type='range']::-moz-range-thumb {
	height: 15px;
	width: 15px;
	border-radius: 9999px;
	background: #fff;
	cursor: ew-resize;
	transition: background 0.3s ease-in-out;
}

.david-fb__range input[type='range']::-webkit-slider-runnable-track {
	-webkit-appearance: none;
	box-shadow: none;
	border: none;
	background: transparent;
}
