---
import PasswordFormDefinition from '@components/alfredogonzalezmartinez/PasswordFormDefinition.astro'
import Layout from '@layout'
---

<Layout title='alfredogonzalezmartinez'>
	<PasswordFormDefinition />
	<section>
		<h2>Generador de contraseñas</h2>
		<password-form />
	</section>
</Layout>

<style>
	:root {
		--color-words: #fff;
		--color-details: #5cd9ff;
		--color-background-form: #252525;
		--color-background-form-inside: #3b3b3b;
	}

	section {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin: 32px 0;
		min-width: 280px;
		gap: 16px;
	}

	h2 {
		font-size: 1.5rem;
		font-weight: bold;
		text-align: center;
		color: var(--color-words);
	}
</style>
