#agutierrezr .number {
	color: #8db0bb;
}

#agutierrezr .symbol {
	color: #fde3a7;
}

#agutierrezr .copy-message {
	position: absolute;
	color: #c9f227;
}

#agutierrezr.site {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	height: 100vh;
	color: #fff;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
		Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	background-color: #7bacdd;
}

#agutierrezr .app-container {
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 460px;
	background-color: #020728;
	border-radius: 0.75rem;
	min-height: 720px;
	overflow: hidden;
}

#agutierrezr .app-container .app-main {
	flex-grow: 1;
	padding: 30px;
	overflow-y: auto;
	max-height: 650px;
}

#agutierrezr .app-container .app-main::-webkit-scrollbar {
	width: 4px;
}

#agutierrezr .app-container .app-main::-webkit-scrollbar-track {
	background-color: rgb(0 0 0 / 0%);
}

#agutierrezr .app-container .app-main::-webkit-scrollbar-thumb {
	background-color: hsl(0deg 0% 100% / 25.1%);
	border: 1px solid hsl(0deg 0% 100% / 25.1%);
	border-radius: 24px;
}

#agutierrezr .app-container .app-main::-webkit-scrollbar-thumb:hover {
	background-color: hsl(0deg 0% 80% / 35%);
}

#agutierrezr .section {
	position: relative;
	margin-bottom: 16px;
}

#agutierrezr .section:last-of-type {
	margin-bottom: 0;
}

#agutierrezr .section--password {
	margin-bottom: 36px;
}

#agutierrezr .label {
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 600;
	color: hsl(0deg 0% 100% / 50%);
	margin-bottom: 8px;
}

#agutierrezr .box {
	background-color: hsl(227deg 88% 15%);
	padding: 20px;
	border-radius: 0.5rem;
	word-wrap: break-word;
}

#agutierrezr .box + .box {
	margin-top: 8px;
}

#agutierrezr .box--password {
	display: flex;
	align-items: center;
	font-size: 24px;
	padding: 28px 30px;
	letter-spacing: 0.0625rem;
	line-height: 1.1;
}

#agutierrezr .box--password .password {
	margin-right: 20px;
	flex-grow: 1;
	word-wrap: break-word;
	overflow-y: hidden;
}

#agutierrezr .box--history {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#agutierrezr .box--history .password {
	margin-right: 20px;
	flex-grow: 1;
	word-wrap: break-word;
	overflow-y: hidden;
}

#agutierrezr .slider {
	display: flex;
	align-items: center;
}

#agutierrezr .slider__value--left {
	margin-right: 18px;
}

#agutierrezr .slider__value--right {
	margin-left: 18px;
}

#agutierrezr .slider-field,
#agutierrezr .slider-field::-webkit-slider-thumb {
	appearance: none;
	border: none;
	cursor: pointer;
}

#agutierrezr .slider-field {
	height: 3px;
	width: 100%;
	background: hsl(219deg 68% 25%);
	border-radius: 5px;
}

#agutierrezr .slider-field::-webkit-slider-thumb {
	height: 20px;
	width: 20px;
	background: hsl(0deg 0% 100%);
	border-radius: 50%;
}

#agutierrezr .slider-field::-moz-range-progress {
	background: hsl(249deg 100% 65%);
}

#agutierrezr .toggle {
	position: relative;
	height: 32px;
	width: 50px;
	background: hsl(224deg 64% 20%);
	appearance: none;
	border-radius: 50px;
	box-shadow: inset 0 0 5px rgb(0 0 0 / 20%);
	transition: 0.4s;
	cursor: pointer;
}

#agutierrezr .toggle:checked {
	background: hsl(249deg 100% 65%);
}

#agutierrezr .toggle::before {
	height: 100%;
	width: 32px;
	position: absolute;
	left: 0;
	content: '';
	background: hsl(224deg 12% 80%);
	border-radius: 50px;
	box-shadow: 0 2px 5px rgb(0 0 0 / 20%);
	transform: scale(0.85);
	transition: 0.4s;
}

#agutierrezr .toggle:checked::before {
	left: 18px;
	background-color: hsl(0deg 0% 100%);
}

#agutierrezr .controls {
	display: flex;
	gap: 8px;
}

#agutierrezr .app-navigation {
	display: flex;
	justify-content: space-evenly;
}

#agutierrezr .app-navigation button {
	width: 100%;
	background-color: hsl(227deg 88% 15%);
	padding: 24px;
}

#agutierrezr .app-navigation button.active {
	background-color: hsl(227deg 88% 25%);
}
