body {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
		Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.app-container {
	width: 100%;
	max-width: 460px;
	background-color: #020728;
	padding: 30px;
	border-radius: 0.75rem;
}

.label {
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 600;
	color: hsl(0deg 0% 100% / 50%);
	margin-bottom: 8px;
}

.box {
	background-color: hsl(227deg 88% 15%);
	padding: 20px;
	border-radius: 0.5rem;
	word-wrap: break-word;
}

.box + .box {
	margin-top: 8px;
}

.box--password {
	font-size: 24px;
	padding: 28px 30px;
	text-align: center;
	letter-spacing: 0.0625rem;
	line-height: 1.1;
	margin-bottom: 36px;
}

.slider {
	display: box;
	display: flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.slider__value--left {
	margin-right: 18px;
}

.slider__value--right {
	margin-left: 18px;
}

.slider-field,
.slider-field::-webkit-slider-thumb {
	appearance: none;
	outline: none;
	border: none;
	cursor: pointer;
}

.slider-field {
	height: 3px;
	width: 100%;
	background: hsl(219deg 68% 25%);
	border-radius: 5px;
}

.slider-field::-webkit-slider-thumb {
	height: 20px;
	width: 20px;
	background: hsl(0deg 0% 100%);
	border-radius: 50%;
}

.slider-field::-moz-range-progress {
	background: hsl(249deg 100% 65%);
}

.checkbox {
	display: box;
	display: flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.checkbox input {
	position: relative;
	height: 32px;
	width: 50px;
	outline: none;
	background: hsl(224deg 64% 20%);
	appearance: none;
	border-radius: 50px;
	box-shadow: inset 0 0 5px rgb(0 0 0 / 20%);
	transition: 0.4s;
	cursor: pointer;
}

.checkbox input:checked {
	background: hsl(249deg 100% 65%);
}

.checkbox input::before {
	height: 100%;
	width: 32px;
	position: absolute;
	left: 0;
	content: '';
	background: hsl(224deg 12% 80%);
	border-radius: 50px;
	box-shadow: 0 2px 5px rgb(0 0 0 / 20%);
	transform: scale(0.85);
	transition: 0.4s;
}

.checkbox input:checked::before {
	left: 18px;
	background-color: hsl(0deg 0% 100%);
}
