---
import Layout from '@layout'
import Main from '@components/israel-gs/components/Main.jsx'
---

<Layout title='israel-gs'>
	<div class='w-screen h-screen flex justify-center items-center'>
		<div class='flex flex-col gap-4 w-full px-8 md:w-5/6 lg:w-3/6 xl:w-2/6'>
			<Main client:load />
		</div>
	</div>
</Layout>
