---
import Layout from '@layout'
import Form from '@components/JoaquinGiordano/Form'
---

<Layout title='midudev'>
	<main
		id='JoaquinGiordano_main'
		class='bg-blue-300 duration-100 w-full h-full flex items-center justify-center'
	>
		<Form client:only='react' />
	</main>
</Layout>
