---
// imports
import Layout from '@layout'
import PasswordGeneratorWidget from '@components/kevin-dev71/PasswordGeneratorWidget/PasswordGeneratorWidget.jsx'
---

<Layout title='kevin-dev71'>
	<div class='grid h-screen place-items-center'>
		<PasswordGeneratorWidget client:load />
	</div>
</Layout>
