---
import Layout from '@layout'
import { App } from '@components/franciscohuchinuc/App'
---

<link rel='preconnect' href='https://fonts.cdnfonts.com' />
<link href='http://fonts.cdnfonts.com/css/poppins' rel='stylesheet' />

<Layout title='franciscohuchinuc'>
	<div id='franciscohuchinuc'>
		<App client:visible />
	</div>
</Layout>

<style>
	#franciscohuchinuc {
		background-color: #142850;
		font-family: 'Poppins', monospace;
	}
</style>
