<html>
	<div class='p-6 max-w-md mx-auto bg-white rounded-xl shadow-lg items-center space-x-4'>
		<h1 class='text-xl text-center font-medium text-black'>Password generator</h1>
		<div>
			<div>
				<label
				>Longitud (<span id='length-info'>12</span>):
					<input id='character-length' type='range' min='4' value='12' max='24' />
				</label>
				<div>
					<label
					>Uppercase:
						<input id='use-uppercase' type='checkbox' checked='true' />
					</label>
					<label
					>Diggits:
						<input id='use-digits' type='checkbox' checked='true' />
					</label>
					<label
					>Specials:
						<input id='use-special-basic' type='checkbox' checked='true' />
					</label>
				</div>
				<div class='text-right'>
					<button
						class='bg-sky-500 hover:bg-sky-700 px-5 py-2 text-sm leading-5 rounded-full font-semibold text-white'
						id='generator-button'>Generar</button
					>
				</div>

				<div
					id='result-container' class='hide m-10 p-8 text-center border border-purple-200'
				>
					<span id='result-panel'></span>
					<button id='copy-button'>
						<svg viewBox='0 0 460 460' widht='16' height='16'>
							<path
								d='M425.934,0H171.662c-18.122,0-32.864,14.743-32.864,32.864v77.134h30V32.864c0-1.579,1.285-2.864,2.864-2.864h254.272
					c1.579,0,2.864,1.285,2.864,2.864v254.272c0,1.58-1.285,2.865-2.864,2.865h-74.729v30h74.729
					c18.121,0,32.864-14.743,32.864-32.865V32.864C458.797,14.743,444.055,0,425.934,0z'
							></path>
							<path
								d='M288.339,139.998H34.068c-18.122,0-32.865,14.743-32.865,32.865v254.272C1.204,445.257,15.946,460,34.068,460h254.272
					c18.122,0,32.865-14.743,32.865-32.864V172.863C321.206,154.741,306.461,139.998,288.339,139.998z M288.341,430H34.068
					c-1.58,0-2.865-1.285-2.865-2.864V172.863c0-1.58,1.285-2.865,2.865-2.865h254.272c1.58,0,2.865,1.285,2.865,2.865v254.273h0.001
					C291.206,428.715,289.92,430,288.341,430z'
							></path>
						</svg>
					</button>
				</div>
				<div id='snackbar' class='hide'>Password copied...</div>
			</div>
		</div>
	</div>
</html>

<script>
	const generateButton = document.getElementById('generator-button')
	const copyButton = document.getElementById('copy-button')
	const resultPanel = document.getElementById('result-panel')
	const resultContainer = document.getElementById('result-container')
	const length = document.getElementById('character-length')
	const lengthInfo = document.getElementById('length-info')
	const uppercase = document.getElementById('use-uppercase')
	const digits = document.getElementById('use-digits')
	const specialBasic = document.getElementById('use-special-basic')
	const snackbar = document.getElementById('snackbar')

	const random = (charset) => {
		return charset.charAt(Math.floor(Math.random() * charset.length))
	}

	length.addEventListener('change', () => {
		lengthInfo.innerHTML = length.value
	})
	length.addEventListener('mousemove', () => {
		lengthInfo.innerHTML = length.value
	})
	copyButton.addEventListener('click', () => {
		navigator.clipboard.writeText(resultPanel.innerHTML)
		snackbar.className = 'hide'
		setTimeout(() => {
			snackbar.className = ''
		}, 3000)
	})
	generateButton.addEventListener('click', () => {
		let lengthValue = length.value - 1
		let retVal = ''
		let charset = 'abcdefghijklmnopqrstuvwxyz'
		let midVal = random(charset)
		if (uppercase.checked) {
			--lengthValue
			const group = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789'
			midVal += random(group)
			charset += group
		}
		if (digits.checked) {
			--lengthValue
			const group = '0123456789'
			midVal += random(group)
			charset += group
		}
		if (specialBasic.checked) {
			--lengthValue
			const group = '!@#$%^&*'
			midVal += random(group)
			charset += group
		}
		const mid = lengthValue / 2
		const end = lengthValue - mid
		for (let i = 0; i < mid; ++i) {
			retVal += random(charset)
		}
		retVal += midVal
		for (let j = 0; j < end; ++j) {
			retVal += random(charset)
		}
		resultPanel.innerHTML = retVal
		resultContainer.className = resultContainer.className.replaceAll('hide', '')
		return retVal
	})
</script>
<style>
#result-container.hide {
	display:none;
}
#snackbar {
	position:absolute;
}
#snackbar.hide {
	display:none;
}
</style>
