.josel95-blurred {
	filter: blur(4px);
}

.josel95-app-container {
	height: 100vh;
	color: #fff;
}

.josel95-password-generator-container {
	height: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 2rem;
}

.josel95-password-generator-title {
	font-size: 5rem;
}

.josel95-password-generator-password {
	padding: 1rem;
	font-size: 2rem;
	color: #000;
	width: 50%;
}

.josel95-range-container {
	display: flex;
	gap: 1rem;
}

.josel95-range {
	flex: 1;
	appearance: none;
	background: transparent;
	cursor: pointer;
}

.josel95-range::-webkit-slider-runnable-track {
	appearance: none;
	height: 1px;
	background-color: #FFF;
}

.josel95-range::-webkit-slider-thumb {
	appearance: none;
	transform: translateY(-0.7rem);
	height: 1.4rem;
	aspect-ratio: 1;
	border: 1px solid #fff;
	border-radius: 50%;
	background-color: #FFF;
	transition: transform 0.3s;
}

.josel95-password-generator-button {
	background-color: #F5A11D;
	border-radius: 0.1rem;
	font-size: 1.4rem;
	padding: 1.5rem 3rem;
}
