---
import Layout from '@layout'
import PassGen from '@components/JaavierR/PassGen'
---

<Layout title='JaavierR hacktoberfest 2022 entry'>
	<div class='h-screen flex items-center justify-center min-h-[25rem]'>
		<PassGen client:only='react' />
	</div>
</Layout>
