---
import Card from '@components/angelMarcosCastilla/Card.svelte';
import Layout from '@layout'
---

<Layout title='angelMarcos'>
	<h1 class="text-4xl py-6 font-semibold text-white mb-4 text-center">Generate Password</h1>
	<Card client:visible/>
</Layout>
