---
import Layout from '@layout'
import PasswordGeneratorForm from '@components/amengual-ln/PasswordGeneratorForm.svelte'
---

<Layout title='Password generator | amengual-ln'>
	<section class='grid h-screen place-items-center bg-slate-200 font-sans text-xl select-none'>
		<PasswordGeneratorForm client:load />
	</section>
</Layout>
