---
import Layout from '@layout'
import CopyIcon from '@components/Rolando1010/copy-icon.astro'
---

<style>
	main {
		margin: auto;
		padding: 20px;
		color: #ffffff;
		text-align: center;
		max-width: 500px;
		width: 100%;
		height: 100vh;
		background-color: #1d1127;
	}

	.title {
		font-size: 30px;
	}

	.label-container {
		text-align: left;
		padding: 0 10px;
	}

	.container {
		margin: 25px 0;
		background-color: #4c3363;
		border-radius: 5px;
		padding: 5px 0;
		text-align: center;
	}

	.password-container {
		display: flex;
		justify-content: space-between;
		padding: 0 15px;
		gap: 15px;
		align-items: center;
		position: relative;
	}

	#generated-password {
		font-size: 30px;
		font-weight: bold;
		word-break: break-all;
	}

	#copy-password {
		cursor: pointer;
	}

	.password-generator {
		background-color: #0075ff;
		width: 100%;
		padding: 10px 20px;
		border-radius: 5px;
		font-size: 20px;
	}

	.password-generator:hover,
	.password-generator:focus {
		background-color: #114685;
	}

	label {
		display: flex;
		justify-content: space-between;
	}

	label span {
		padding: 0 10px;
	}

	input {
		width: 100%;
	}

	.copy-toast {
		background-color: #9663a9;
    color: #4dff4d;
		display: inline;
		position: absolute;
		padding: 5px 10px;
		border-radius: 5px;
		font-size: 18px;
		transform: translateY(-230%) translateX(155%);
		opacity: 0;
		transition: opacity .5s;
	}
</style>

<Layout title='Rolando'>
	<main>
		<h1 class='title'>Contraseña aleatoria</h1>
		<section class='container'>
			<p class='label-container'>Contraseña:</p>
			<article class='password-container'>
				<p id='generated-password'>-</p>
				<button id='copy-password'><CopyIcon/></button>
			</article>
			<article class='copy-toast'>Copiado</article>
		</section>
		<section class='container'>
			<article class='label-container'>
				Largo: <span id='password-length'>4</span>
			</article>
			<label>
				<span>4</span>
				<input id='password-length-input' value='4' type='range' min='4' max='32' />
				<span>32</span>
			</label>
		</section>
		<button class='password-generator'>Generar contraseña</button>
	</main>
</Layout>

<script type='module'>
const passwordGeneratorButton = document.querySelector('.password-generator')
const generatedPasswordContainer = document.querySelector('#generated-password')
const passwordLengthContainer = document.querySelector('#password-length')
const passwordLengthInput = document.querySelector('#password-length-input')
const copyPasswordButton = document.querySelector('#copy-password')
const copyToast = document.querySelector('.copy-toast')

let passwordLength = 4
let password = '-'

const generatePassword = () => {
	const characters =
			'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789`~!@#$%^&*()()–_=+[][]{}{}|;:‘“,./<><>?'
	let newPassword = ''
	for (let i = 0; i < passwordLength; i++) {
		const charIndex = Math.floor(Math.random() * characters.length)
		newPassword += characters[charIndex]
	}
	return newPassword
}

const activateCopyToast = () => {
	copyToast.style.opacity = '1'
	setTimeout(() => {
		copyToast.style.opacity = '0'
	}, 3000)
}

passwordLengthInput.addEventListener('change', () => {
	passwordLength = passwordLengthInput.value
	passwordLengthContainer.innerHTML = passwordLength
})

passwordGeneratorButton.addEventListener('click', () => {
	const newPassword = generatePassword()
	generatedPasswordContainer.innerHTML = newPassword
	password = newPassword
})

copyPasswordButton.addEventListener('click', () => {
	navigator.clipboard.writeText(password)
	activateCopyToast()
})
</script>
