:root {
	--color-1-dv: #560F94;
	--color-2-dv: #7D7EFA;
	--color-2-1-dv: #acacfc;
	--color-3-dv: #FBE9BC;
	--color-4-dv: #C79950;
}

.center-dv {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}

#app-dv {
	width: 100%;
	height: 100vh;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	box-sizing: border-box;
}

#gen-dv {
	border-radius: 30px;
	width: 50%;
	box-shadow: 0px 0px 4px 0px var(--color-3-dv);
	aspect-ratio: 1/1;
	min-width: 300px;
	max-width: 600px;
	background-color: var(--color-3-dv);
}

#form-dv {
	width: 100%;
	height: 100%;
	justify-content: space-around;
	font-size: 1.5rem;
}

#form-dv button {
	background-color: var(--color-2-dv);
	padding: 6%;
	border-radius: 10px;
	color: var(--color-3-dv);
	font-weight: bold;
}

#form-dv button:hover {
	background-color: var(--color-2-1-dv);
	padding: 6%;
	border-radius: 5%;
}

#pass-dv {
	padding: 6%;
	color: var(--color-3-dv);
	display: inline-block;
	max-width: 80%;
	overflow: hidden;
}

#pass-cont-dv{
	background-color: var(--color-2-dv);
	display: flex;
	align-items: center;
	width: 90%;
	justify-content: center;
	margin: 0 10px;
	border-radius: 15px;
}

#pass-cont-dv img{
	width: 2rem;
	height: 2rem;
	display: inline-block;
	margin: 10px;
}

#pass-cont-dv img{
	width: 2rem;
	height: 2rem;
	display: inline-block;
	margin: 10px;
}