#santiagohernandezs * {
	font-family:'Ubuntu Mono', monospace;
}

#santiagohernandezs .app {
	height: 100vh;
	min-height: inherit;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #2B2B2B;
}

#santiagohernandezs h1 {
	font-size: 2rem;
}

#santiagohernandezs h2 {
	font-size: 2rem;
	font-weight: bold;
}

#santiagohernandezs .password-container{
	height: auto;
	display: flex;
	flex-direction: column;
	gap: 46px;
}

#santiagohernandezs .password{
	width: 622px;
	height: 90px;
	background-color: #2B2B2B;
	border-radius: 13px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
	box-shadow: 57.4879px 22.8261px 16.9082px rgb(0 0 0 / 1%), 36.3527px 14.372px 16.0628px rgb(0 0 0 / 6%), 20.2899px 8.4541px 13.5266px rgb(0 0 0 / 20%), 9.2995px 3.3816px 10.1449px rgb(0 0 0 / 34%), 2.5362px 0.8454px 5.0724px rgb(0 0 0 / 39%), 0 0 0 rgb(0 0 0 / 40%);
}

#santiagohernandezs input[type="text"] {
	height: 3rem;
	width: 87%;
	appearance: none;
	background-color: #2B2B2B;
	border: none;
	font-size: xx-large;
	padding: 1rem;
	color: white;
}

#santiagohernandezs input[type="text"]:focus{
	outline: none;
	background-color:#3E3E3E
}

#santiagohernandezs.copy{
	appearance: none;
	border: none;
	background-color: transparent;
	height: 3rem;
	width: 3.5rem;
	padding-right: 3rem;
	cursor: pointer;
}

#santiagohernandezs .copy::before{
	font-family: fontAwesome;
	color: #3CA1FE;
	font-size: 2em;
	content: '\f0c5';
	height: 2.5rem;
	width: 2rem;
	margin-left: .8rem;
}

#santiagohernandezs .settings{
	width: 622px;
	height: auto;
	background-color: #2B2B2B;
	border-radius: 13px;
	padding: 2rem;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 1rem;
	box-shadow: 57.4879px 22.8261px 16.9082px rgb(0 0 0 / 1%), 36.3527px 14.372px 16.0628px rgb(0 0 0 / 6%), 20.2899px 8.4541px 13.5266px rgb(0 0 0 / 20%), 9.2992px 3.3164px 10.149px rgb(0 0 0 / 34%), 2.5323px 0.8451px 5.0726px rgb(0 0 0 / 39%), 0 0 0 rgb(0 0 0 / 40%);
}

#santiagohernandezs .radio-counter{
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 14rem;
}

#santiagohernandezs .radio-counter > span {
	color: #3CA1FE;
	font-size: xx-large;
}

#santiagohernandezs .range{
	padding:15px 0;
}

#santiagohernandezs .rs-slider-handle {
	position: absolute;
	top: -96%;
	outline: none;
}

#santiagohernandezs input[type=range] {
	appearance: none;
	height: 100%;
	width: 100%;
	background-color: white;
	border-radius: 15px;
	position: relative;
}
  
#santiagohernandezs input[type=range]::-webkit-slider-thumb {
	appearance: none;
	height: 23px;
	width: 23px;
	border-radius: 15px;
	background: #3CA1FE;
	cursor: pointer;
	margin-top: -7px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
	box-shadow: 1px 1px 1px #000, 0 0 1px #0d0d0d; 
	transition: 
		height ease-out 150ms,
		width ease-out 150ms;
}


#santiagohernandezs input[type=range]::-webkit-slider-runnable-track {
	width: 100%;
	height: 8px;
	cursor: pointer;
	background: #FFF;
	border-radius: 15px;
}

#santiagohernandezs .option{
	padding: 1rem;
	display: flex;
	gap: 2rem;
	align-items: center;
}

#santiagohernandezs input[type='checkbox']{
	appearance: none;
	height: 2rem;
	width: 2rem;
	border-radius: 6px;
	border: none;
	background: gray;
	transition: all 0.3s ease;
	position: relative;
}

#santiagohernandezs input[type='checkbox']:checked::before{
	font-family: fontAwesome;
	font-size: 1.5rem;
	content: '\f00c';
	color: white;
	text-align: center;
	display: block;
	height: 2rem;
	width: 2rem;
	background: #3CA1FE;
	border-radius: 6px;
}

#santiagohernandezs input[type='checkbox']:hover{
	appearance: none;
	border-radius: 6px;
	border: none;
	background: #3CA1FE;
}

#santiagohernandezs .default-label{
	font-size: x-large;
}

#santiagohernandezs .indicator{
	display: flex;
	justify-content: space-between;
	padding: 1.5rem;
	font-size: 2rem;
	font-weight: bold;
}

#santiagohernandezs .indicator-red{
	color: rgb(241 70 70);
}

#santiagohernandezs .indicator-green{
	color: rgb(29 255 29);
}

#santiagohernandezs .button{
	background-color: #3CA1FE;
	display: flex;
	font-size: 1.5rem;
	justify-content: center;
	padding: 1em;
	color: #2B2B2B;
	cursor: pointer;
	border: none;
	border-radius: 10px;
}

#santiagohernandezs .panel{
	height: auto;
}
