.PasswordGenerator {
	max-width: 430px;
	margin: 0 auto;
	width: 100%;
}
.title {
	text-align: center;
	font-size: 2rem;
	color: #ffffff;
}

.password {
	background: #061d3d;
	padding: 10px 20px;
	display: flex;
	justify-content: space-between;
	color: #fff;
	margin: 10px 0;
}

.password p {
	opacity: .6;	
	font-size: 1.1rem;
}

.password .active {
	opacity: .9;
}

.form {
	background: #061d3d;
	padding: 10px 20px;
}

.characterLength {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #ffffff;
}

.characterLength span {
	font-size: 1.3rem;
}

.inputRange[type="range"] {
	accent-color: #024cb1;
	cursor: ew-resize;
	margin: 20px 0;
	width: 100%;
}

.options {
	display: flex;
	flex-direction: column;
	row-gap: 8px;
}

.options label {
	display: flex;
	align-items: center;
	color: #ffffff;
}

.inputCheckbox {
	accent-color: #024cb1;
	margin-right: 5px;
	height: 20px;
	width: 20px;
}

.btnGenerate {
	background-color: #ffffff;
	font-size:1.4rem;
	border-radius: 3px;
	color: #061d3d;
	margin: 20px auto 10px;
	padding: 8px 0;
	display: block;
	width: 100%;
}