@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
	.btn-clip-path {
		clip-path: polygon(12px 0px, 100% 0px, 100% 72%, calc(100% - 12px) 100%, 0px 100%, 0px 12px);
	}

	.hacktoberfest-btn {
		@apply bg-[#ffffff] text-[#170f1e] btn-clip-path font-semibold py-2 px-4 uppercase hover:rotate-6 transition-all;
	}

	.text-shadow {
		text-shadow: 0 0 3px #ffffff;
	}

	.bg-squares::before {
			content: "";
			position: absolute;
			margin: 0px auto;
			left: 0px;
			top: -10%;
			filter: brightness(0.4) sepia(1) hue-rotate(220deg) saturate(8);
			background-image: url('./assets/grid-square.svg');
			opacity: 0.2;
			-webkit-mask-image: radial-gradient(70% 80% at 50% 50%, black 40%, transparent 70%);
			width: 100%;
			height: 120%;
			z-index: -1;
	}
}

