---
import Layout from '@layout'
import GeneratorForm from '@components/david-ponc/generator-form.svelte'
import ArrowLeftIcon from '@components/david-ponc/arrow-left-icon.svelte'
---

<Layout title='Hacktoberfest | Generador de contraseñas - david-ponc'>
	<section
		class='w-full h-full grid grid-rows-[auto_1fr] bg-zinc-900 text-zinc-50 font-["Inter_var","Inter","system-ui","sans-serif"]'
	>
		<header class='py-4 px-8'>
			<a href='/' class='text-sm font-medium text-zinc-400 flex items-center gap-1 group'>
				<ArrowLeftIcon class='group-hover:-translate-x-0.5 transition-all' /> Regresar al inicio
			</a>
		</header>
		<section class='w-full h-full p-6 lg:p-0 flex items-center justify-center'>
			<GeneratorForm client:load />
		</section>
	</section>
</Layout>
