---
---
<div class='flex flex-col items-center justify-center max-w-xl text-center mx-auto p-5'>
	<header class='m-5 w-full' >
		<h2 class='text-giga font-bold font-special uppercase text-3xl mb-5' >Password Generator</h2>
	</header>
	<main class='flex flex-col m-auto  w-full place-contents-center'>
		<label for='password' class='w-full flex bg-red-400'>
			<input id='password' type='text' class='text-3xl bold disabled:bg-slate-50 p-2 w-full' disabled='true' >
			<button type='button' id='copy' class='w-15 p-5 bg-slate-50'>
				<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-clipboard' viewBox='0 0 16 16'>
					<path d='M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z'/>
					<path d='M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z'/>
				</svg>
			</button>
		</label>
		<input class='mt-10 text-4xl' id='slider' type='range' min='8' max='30' value='8' >
		<h3 id='maxLength' class='text-surf py-2  font-special uppercase text-xl mb-5'>number characters 8</h3>
		<button type='button' id='generatePasswordButton' class='text-yellow-400 hover:bg-violet-700 bg-violet-500 py-2  font-special uppercase text-2xl my-2'>Generate Password</button>
	</main>
</div>

<script type='module'>
function generatePassword(nCharaters) {
	let password = ''
	const letters = 'abcdefghijklmnopqrstuvwxyz'
	const upperLetters = letters.toUpperCase()
	const numbers = '0123456789'
	const symbols = '!@#$%^&*()_+'
	const characters = letters + upperLetters + numbers + symbols
	for (let i = 0; i < nCharaters; i++) {
		password += characters.charAt(Math.floor(Math.random() * characters.length))
	}
	return password
}
const password = document.getElementById('password')
const maxLength = document.getElementById('maxLength')

const copy = document.getElementById('copy')
copy.addEventListener('click', () => {
	navigator.clipboard.writeText(password.value).then(function() {
		alert('Password was copied to Clipboard!')
	}, function(err) {
		console.error('Async: Could not copy text: ', err)
	})
})

const slider = document.getElementById('slider')
slider.addEventListener('input', () => {
	maxLength.textContent = `number characters ${slider.value}`
	password.value = generatePassword(slider.value)
})

const generatePasswordButton = document.getElementById('generatePasswordButton')
generatePasswordButton.addEventListener('click', () => {
	password.value = generatePassword(slider.value)
})

password.value = generatePassword(slider.value)
</script>