---
import Layout from '@layout'
import { PasswordGenerator } from '@components/MaximilianoCabreraP/PasswordGenerator'
---

<Layout title='MaximilianoCabreraP'>
	<main class='text-white'>
		<h1>PasswordGenerator</h1>
		<PasswordGenerator />
	</main>
</Layout>
