---
import Layout from '@layout'
import { Card } from '@components/MaximilianoCabreraP/Card'
---

<Layout title='MaximilianoCabreraP'>
	<main class='text-white mt-10'>
		<Card client:visible />
	</main>
</Layout>
