.header {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.iconContainer {
	padding: 4px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 70px;
	height: 70px;
	border-radius: 22px;
	border: 1px solid #00000020;
}

.brandTitle {
	text-align: center;
}

.brandTitle > h1 {
	font-size: 32px;
	font-weight: 700;
	margin-bottom: -6px;
}

.blueSpan {
	color: #0085ee;
}

.brandTitle > small {
	color: #888;
	font-size: 14px;
}
