.card {
	margin: 1rem;
	display: flex;
	flex-direction: column;
	padding: 2.7rem;
	border-radius: 18px;
	width: 470px;
	gap: 2rem;
	background-color: white;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 8px 24px;
}
