/* stylelint-disable selector-class-pattern */
.qualityContainer {
	display: flex;
	gap: 1.5rem;
	justify-content: space-between;
	width: 100%;
	align-items: center;
	font-size: 0.95rem;
	color: #666;
}

.qualityBar {
	display: flex;
	align-items: center;
	gap: 5px;
}

.qualityIndicator {
	width: 10px;
	height: 13px;
	background-color: #ddd;
	border-radius: 1px;
}

.qualityIcon {
	width: 24px;
	height: 24px;
}

.qualityIcon svg {
	transform: scale(0.9);
}
