.qualityContainer {
	display: flex;
	gap: 0.5rem;
	align-items: center;
	font-size: 0.91rem;
	color: #444;
}

.qualityResult {
	display: flex;
	align-items: center;
	gap: 5px;
	color: #00b45c;
}

.qualityResult > svg {
	stroke: #00b45c;
	transform: scale(0.9);
}
