.container {
	padding: 10px 15px;
	display: flex;
	align-items: center;
	font-size: 16px;
	width: 100%;
	font-weight: 600;
	border-radius: 12px;
	border: 2px solid #00000018;
	transition: background-color 300ms ease;
	gap: 10px;
}

.container:focus-within {
	border: 2px solid #0085eeb0;
}

.container > input {
	display: flex;
	align-items: center;
	width: 100%;
	background-color: transparent;
}

.container > input:focus {
	border: 0;
	outline: none;
}

.separator {
	height: 26px;
	border-left: 2px solid #00000015;
}
