.mainSection {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	min-height: 600px;
	justify-content: center;
	align-items: center;
	background-color: #001a2f;
}
