---
import PasswordGenerator from '@components/luchanobr/PasswordGenerator'
import Layout from '@layout'
---

<Layout title='Luchanobr'>
	<main class='grid mx-auto place-content-center place-c-center h-screen gap-4'>
		<h1 class='text-white font-bold text-2xl'>Luciano Password Generator</h1>
		<section class='p-5 rounded text-white bg-sky-600'>
			<PasswordGenerator client:visible />
		</section>
	</main>
</Layout>
