/* Importing JetBrains Mono Font from Google API */
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@700&display=swap');

/* Globals values */
body {
	box-sizing: border-box;
	font-family: 'JetBrains Mono', Helvetica, sans-serif;
	font-size: 0.875rem;  
	color: #CDD0D5;
}

/* Range Input Styles */
/* Styling and resetting the slider */
input[type="range"] {
	width: 100%;
	-webkit-appearance: none;
	appearance: none;
	background: transparent;
	cursor: pointer;
}

/** Chrome, Safari and Opera **/
/* Focus Style */
input[type="range"]:focus {
	outline: none; /* Removes default focus */
}

/* Track Styles */
input[type="range"]::-webkit-slider-runnable-track {
	height: 0.25rem;
	background: #18171F;
}

/* Thumb Styles */
input[type="range"]::-webkit-slider-thumb {
	width: 0.8125rem;
	height: 0.8125rem; /* thumb heigth */
	margin-top: -4.5px;  /* (track height / 2) - (thumb height / 2) = -4.5px */
	-webkit-appearance: none; /* Override default look */
	border-radius: 100%;
	background-color: #E6E5EA;
}

/** Firefox **/
/* Focus Style */
input[type=range]:focus::-webkit-slider-runnable-track {
	background: #18171F;
}

/* Track Styles */
input[type="range"]::-moz-range-track {
	height: 0.25rem; /* track height */
	background: #18171F;
}

/* Thumb Styles */
input[type="range"]::-moz-range-thumb {
	width: 0.8125rem;
	height: 0.8125rem; 
	border: none; /* Remove default value */
	border-radius: 100%; /* Override default values*/
	background: #18171F;
}

/** Edge **/
/* Track Style */
input[type="range"]::-ms-track {
	animation: 0,2s;
}

input[type="range"]:focus::-ms-fill-lower {
	background: red;
}
  
input[type="range"]:focus::-ms-fill-upper {
	background: black;
}
  

/* input[type="range"]:focus::-webkit-slider-thumb {
	outline: 2px solid red;
	outline-offset: 2px solid black;
	background: red;
} */
/* Chrome, Safari, Opera, and Edge Chromium */
/* input[type="range"]:focus::-webkit-slider-thumb {
	border: 2px solid #A4FFAF !important;
	outline: 3px solid #A4FFAF !important;
	outline-offset: 0.125rem;
} */

/* Firefox */
/* input[type="range"]:focus::-moz-range-thumb {
border: 2px solid #A4FFAF !important;
outline: 3px solid #A4FFAF !important;
outline-offset: 0.125rem;     
} */