---
import Layout from '@layout'
import { PasswordGenerator, Header } from '@components/breinerjt'
---

<Layout title='BreinerJT <> Hacktoberfest - 2022'>
	<main class='min-h-screen grid place-content-center'>
		<Header client:visible />
		<PasswordGenerator client:visible />
	</main>
</Layout>
