.checkbox-container {
	margin: 0 auto;
	text-align: center;
	bottom: 10px;
}

.container {
	display: block;
	position: relative;
	padding-left: 35px;
	margin-bottom: 12px;
	cursor: pointer;
	font-size: 20px;
	user-select: none;
}

.container h1 {
	font-size: 20px;
	font-weight: normal;
}

/* Hide the browser's default checkbox */
.container .checkbox-input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

/* Create a custom checkbox */
.checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 25px;
	width: 25px;
	background-color: #eee;
	float: right;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
	background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
	background-color: #2196f3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark::after {
	content: '';
	position: absolute;
	display: none;
}

/* Style the checkmark/indicator */
.container .checkmark::after {
	left: 10px;
	top: 7px;
	width: 5px;
	height: 10px;
	border: solid white;
	border-width: 0 3px 3px 0;
	transform: rotate(45deg);
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark::after {
	display: block;
}
