@font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url(https://fonts.gstatic.com/s/inter/v12/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuFuYAZ9hiA.woff2)
		format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F,
		U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
	font-family: 'Jet Brains Mono';
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: url('/JetBrainsMono-Regular.woff2') format('woff2');
}

@font-face {
	font-family: 'Jet Brains Mono';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url('/JetBrainsMono-Bold.woff2') format('woff2');
}
