---
import Layout from '@layout'
import Generator from '@components/galfrevn/Generator'
---

<link rel='preconnect' href='https://fonts.cdnfonts.com' />
<link href='http://fonts.cdnfonts.com/css/poppins' rel='stylesheet' />

<style>
	#galfrevn {
		font-family: 'Poppins', monospace;
		-webkit-tap-highlight-color: transparent;
	}
</style>

<Layout title='galfrevn'>
	<div id='galfrevn' class='flex flex-col md:flex-row selection:bg-spark selection:text-white'>
		<Generator client:load />
	</div>
</Layout>
