---
import Layout from '@layout'
import PasswordGenerator from '@components/victormarcas/PasswordGenerator.vue'
---

<Layout title='victormarcas'>
	<main class='grid h-screen w-full place-items-center font-sans'>
		<PasswordGenerator client:visible></PasswordGenerator>
	</main>
</Layout>
