.alert-toast {
	animation: slide-in-top 5.5s ease both;
}

@keyframes slide-in-top {
	0% {
		transform: translateX(-20px);
		opacity: 0
	}

	20%,
	80% {
		transform: translateX(0px);
		opacity: 1
	}

	100% {
		transform: translateX(-20px);
		opacity: 0
	}
}