---
import Layout from '@layout'
import PwdGenerator from '@components/stv-beep/pwdGenerator.vue'
---

<Layout title='stv-beep'>
	<main class='grid'>
		<PwdGenerator client:visible />
	</main>
</Layout>
