.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 6px;
  border-radius: 5px;
  background: #606062;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
	background-image: linear-gradient(#255cd2, #1d52c1);
  cursor: grab;
}

.slider::-moz-range-thumb {
  appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
	background-image: linear-gradient(#255cd2, #1d52c1);
  cursor: grab;
}