---
import Slider from './slider.astro'
---

<br />
<div class='max-w-md mx-auto bg-white rounded-xl shadow-md overflow-hidden md:max-w-2xl py-2'>
	<div class='md:flex'>
		<div class='p-8'>
			<div class='uppercase tracking-wide text-sm text-indigo-500 font-semibold'>
				Password Generator
			</div>
			<div class='static'>
				<Slider min='8' max='40' id='mySlide' />
			</div>
			<div class='inline-block'>
				<button
					class='px-4 py-1 text-sm text-purple-600 font-semibold rounded-full border border-purple-200 hover:text-white hover:bg-purple-600 hover:border-transparent focus:outline-none focus:ring-2 focus:ring-purple-600 focus:ring-offset-2'
				>Generar</button
				>
			</div>
		</div>
	</div>
</div>
