.fedmg-main .input-container {
	display: grid;
	gap: clamp(1em, 3vw, 1.3em) 0;
}

.label-container {
	display: inherit;
	grid-template-columns: 1fr 1fr;
	align-items: center;
}

.fedmg-main .range-input {
	user-select: none;
}

.fedmg-main .range-lbl {
	text-align: start;
	font-family: 'Noto Sans', sans-serif;
	font-size: clamp(0.9em, 3vw, 1.16em);
}

.fedmg-main .range-span {
	font-size: clamp(0.96em, 3vw, 1.1em);
	border: 2px solid #fff;
	background: rgb(0 0 0 / 30%);
	border-radius: 0.22em;
	font-weight: 600;
	font-family: 'Courier new', Courier, sans-serif;
}
