@import 'https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap';
@import './input-section.css';
@import './input.css';
@import './output-section.css';
@import './control-section.css';
@import './icon.css';
@import './message.css';

.fedmg-main {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	color: #fff;
	font-family: 'Noto sans', sans-serif;
	background: url('/grain-dark.png');
	background-color: #000;
}

.fedmg-section {
	--width-board: 35em;
	--height-board: 20em;
	--border-rad: 0.15em;

	padding: clamp(0.3em, 2vw, 1.15em);
	background: linear-gradient(to right, rgb(55 65 81), rgb(17 24 39), rgb(0 0 0));
	max-width: var(--width-board);
	max-height: var(--height-board);
	width: 100%;

	/* height: 100%; */
	text-align: center;
	border-radius: var(--border-rad);
	box-shadow: 0.22px 0.22px 0.9px 0.357px #fff;
}

.fedmg-title {
	font-size: clamp(1.15em, 3.5vw, 1.8em);
	margin: 0 0 0.9em;
}

.fedmg-form {
	padding: clamp(0.05em, 2vw, 1.15em);
}
