.fedmg-output-section,
.fedmg-output-section-success {
	display: grid;
	grid-template-columns: 1fr 1fr 3em;
	margin: clamp(1em, 3vw, 1.3em) 0;
	padding: clamp(0.1em, 2vw, 0.3em) 0;
	border: 2px solid #fff;
	border-radius: 0.22em;
	background-color: rgb(0 0 0 / 30%);
}

.fedmg-password-response {
	grid-column: 1/3;
	font-size: clamp(0.96em, 3vw, 1.1em);
	font-family: 'Courier new', Courier, sans-serif;
	text-overflow: hidden;
}

.fedmg-clipboard-button {
	grid-column: 3;
	display: inherit;
	justify-items: center;
}

.fedmg-output-section-success {
	background-color: rgb(255 255 255 / 10%);
}
