.card {
	position: relative;
	filter: drop-shadow(rgba(255, 215, 77, 0.6) -1px -1px 2px)
		drop-shadow(rgba(124, 127, 255, 0.6) 1px 1px 2px);
	background-color: #06080daa;
	text-shadow: rgb(255 215 77 / 60%) -1px -1px 6px, rgb(124 127 255 / 60%) 1px 1px 6px;
}
.card:before {
	content: '';
	z-index: -1;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: linear-gradient(70deg, #ccff33 -6%, #00582a 46%);
	transform: translate3d(0px, 0px, 0) scale(0.8);
	filter: blur(37px);
	opacity: var(0.73);
	transition: opacity 0.3s;
	border-radius: inherit;
}

.card::after {
	content: '';
	z-index: -1;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: inherit;
	border-radius: inherit;
}
input[type='checkbox'] {
	accent-color: #a5f71e;
}

.regenerateButton {
	clip-path: polygon(12px 0px, 100% 0px, 100% 72%, calc(100% - 12px) 100%, 0px 100%, 0px 12px);
}

input[type='range'] {
	filter: drop-shadow(rgba(255, 215, 77, 0.6) -1px -1px 2px)
		drop-shadow(rgba(124, 127, 255, 0.6) 1px 1px 2px);
}
input[type='range']::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 15px;
	height: 15px;
	border-radius: 0%;
	background: #a5f71e;
}
input[type='range']::-webkit-slider-thumb:hover {
	background: #8ad412;
}

.select:focus {
	text-shadow: rgb(255 215 77 / 60%) -1px -1px 6px, rgb(124 127 255 / 60%) 1px 1px 6px;
}
.select option {
	background: rgb(229, 225, 230);
	color: rgb(23, 15, 30);
}
