---
import PasswordGenerator from '@components/drag0s98/PasswordGenerator'
import Layout from '@layout'
---

<Layout title='Drag0s98'>
	<main>
		<PasswordGenerator client:visible />
	</main>
</Layout>
