.noHighlight {
	-webkit-tap-highlight-color: transparent;
}
.neuShadow {
	transition: .2s ease-in-out;
	@apply neuNormal
}
.neuShadow:hover {
	@apply neuHover
}
.neuShadow:active,
.neuShadow:disabled {
	@apply neuActive
}

.neuNormal {
	box-shadow: -6px -6px 14px rgba(255, 255, 255, .7),
	-6px -6px 10px rgba(255, 255, 255, .5),
	6px 6px 8px rgba(255, 255, 255, .075),
	6px 6px 10px rgba(0, 0, 0, .15);
}

.neuHover {
	box-shadow: -2px -2px 6px rgba(255, 255, 255, .6),
	-2px -2px 4px rgba(255, 255, 255, .4),
	2px 2px 2px rgba(255, 255, 255, .05),
	2px 2px 4px rgba(0, 0, 0, .1);
}

.neuActive {
	box-shadow: inset -2px -2px 6px rgba(255, 255, 255, .7),
	inset -2px -2px 4px rgba(255, 255, 255, .5),
	inset 2px 2px 2px rgba(255, 255, 255, .075),
	inset 2px 2px 4px rgba(0, 0, 0, .15);
}
