input.rangeInput[type='range'] {
	-webkit-appearance: none;
}
input.rangeInput[type='range']:focus,
input.rangeInput[type='range']:hover {
	outline: none;
}
input.rangeInput[type='range']::-webkit-slider-runnable-track {
	width: 100%;
	height: 16px;
	cursor: pointer;
	box-shadow: inset -2px -2px 6px rgba(255, 255, 255, 0.7),
		inset -2px -2px 4px rgba(255, 255, 255, 0.5), inset 2px 2px 2px rgba(255, 255, 255, 0.075),
		inset 2px 2px 4px rgba(0, 0, 0, 0.15);
	background: rgb(243, 244, 246);
	border-radius: 10px;
}
input.rangeInput[type='range']::-webkit-slider-thumb {
	box-shadow: -6px -6px 14px rgba(255, 255, 255, 0.7), -6px -6px 10px rgba(255, 255, 255, 0.5),
		6px 6px 8px rgba(255, 255, 255, 0.075), 6px 6px 10px rgba(0, 0, 0, 0.15);
	border: 0 solid #00001e;
	height: 26px;
	width: 26px;
	border-radius: 15px;
	background: #e0e0e0;
	cursor: pointer;
	-webkit-appearance: none;
	margin-top: -5px;
}
input.rangeInput[type='range']:focus::-webkit-slider-runnable-track,
input.rangeInput[type='range']:hover::-webkit-slider-runnable-track {
	background: rgb(243, 244, 246);
}
input.rangeInput[type='range']::-moz-range-track {
	width: 100%;
	cursor: pointer;
	box-shadow: inset -2px -2px 6px rgba(255, 255, 255, 0.7),
		inset -2px -2px 4px rgba(255, 255, 255, 0.5), inset 2px 2px 2px rgba(255, 255, 255, 0.075),
		inset 2px 2px 4px rgba(0, 0, 0, 0.15);
	background: #e0e0e0;
	border-radius: 10px;
	border: 0 solid #010101;
}
input.rangeInput[type='range']::-moz-range-thumb {
	box-shadow: -6px -6px 14px rgba(255, 255, 255, 0.7), -6px -6px 10px rgba(255, 255, 255, 0.5),
		6px 6px 8px rgba(255, 255, 255, 0.075), 6px 6px 10px rgba(0, 0, 0, 0.15);
	border: 0 solid #00001e;
	height: 26px;
	width: 26px;
	border-radius: 15px;
	background: #e0e0e0;
	cursor: pointer;
}
input.rangeInput[type='range']::-ms-track {
	width: 100%;
	cursor: pointer;
	background: transparent;
	border-color: transparent;
	color: transparent;
}
input.rangeInput[type='range']::-ms-fill-lower {
	background: #e0e0e0;
	border: 0 solid #010101;
	border-radius: 20px;
	box-shadow: -6px -6px 14px rgba(255, 255, 255, 0.7), -6px -6px 10px rgba(255, 255, 255, 0.5),
		6px 6px 8px rgba(255, 255, 255, 0.075), 6px 6px 10px rgba(0, 0, 0, 0.15);
}
input.rangeInput[type='range']::-ms-fill-upper {
	background: #e0e0e0;
	border: 0 solid #010101;
	border-radius: 20px;
	box-shadow: inset -2px -2px 6px rgba(255, 255, 255, 0.7),
		inset -2px -2px 4px rgba(255, 255, 255, 0.5), inset 2px 2px 2px rgba(255, 255, 255, 0.075),
		inset 2px 2px 4px rgba(0, 0, 0, 0.15);
}
input.rangeInput[type='range']::-ms-thumb {
	margin-top: 1px;
	box-shadow: -6px -6px 14px rgba(255, 255, 255, 0.7), -6px -6px 10px rgba(255, 255, 255, 0.5),
		6px 6px 8px rgba(255, 255, 255, 0.075), 6px 6px 10px rgba(0, 0, 0, 0.15);
	border: 0 solid #00001e;
	height: 26px;
	width: 26px;
	border-radius: 15px;
	background: #e0e0e0;
	cursor: pointer;
}
input.rangeInput[type='range']:focus::-ms-fill-lower,
input.rangeInput[type='range']:hover::-ms-fill-lower {
	background: #e0e0e0;
}
input.rangeInput[type='range']:focus::-ms-fill-upper,
input.rangeInput[type='range']:hover::-ms-fill-upper {
	background: #e0e0e0;
}
