@import './colors.css';
@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Signika+Negative&display=swap');

h1 {
	font-family: 'Rubik Mono One', sans-serif;
}
h3 {
	font-family: 'Signika Negative', sans-serif;
	font-weight: bold;
}
article {
	font-family: 'Signika Negative', sans-serif;
}
.containerPassword,
.containerInput {
	display: flex;
}
.containerPassword {
	background-color: var(--Backgound);
	height: fit-content;
	width: 22rem;
	flex-direction: column;
	border-radius: 8px;
	box-shadow: var(--box-shadow);
}

.containerInput {
	margin: 0 auto 2rem;
}
.inputPassword {
	border-radius: 10px;
	background-color: var(--white);
	color: black;
	padding-left: 0.5rem;
}
.inputPassword:focus {
	outline: 3px solid var(--accent);
}
img {
	width: 2rem;
	margin-left: 1rem;
}
