---
import Layout from '@layout'
import PasswordGenerator from '@components/luisfalconmx/PasswordGenerator'
import Navbar from '@components/luisfalconmx/Navbar'
---

<Layout title='luisfalconmx'>
	<main
		class='min-w-full min-h-full py-6 bg-[url("https://hacktoberfest.com/_next/static/media/grain-dark.9d5983e6.png")]'
	>
		<div class='background multicolor'></div>
		<Navbar client:visible />
		<h1
			class='hackfont text-shadow uppercase font-special text-white font-bold text-5xl text-center mb-8'
		>
			Password Generator
		</h1>
		<PasswordGenerator client:visible />
	</main>
</Layout>

<style>
	@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

	.hackfont {
		font-family: 'Silkscreen', cursive;
	}

	.text-shadow {
		text-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
	}

	.background {
		width: 100vw;
		height: 100vh;
		position: fixed;
		top: 0;
		left: 0;
		z-index: -1;
		opacity: 0.1;
		filter: brightness(0.4) sepia(1) hue-rotate(260deg) saturate(8);
		mask-image: radial-gradient(70% 80% at center, black 40%, transparent 70%);
		background-image: url('https://hacktoberfest.com/_next/static/media/grid-square.7c0cbc15.svg');
	}
</style>
