<html lang='es-MX'>
	<head>
		<meta charset='utf-8' />
		<meta name='viewport' content='width=device-width' />
		<meta name='generator' content={Astro.generator} />
		<title>Generador de contrase침as 游댐</title>
		<style>
			#sentrac {
				background-color: #212121;
				color: #fff;
				font-family: Arial, Helvetica, sans-serif;
			}
			#sentrac a {
				color: inherit;
			}
			#sentrac ul {
				list-style: none;
				padding: 0;
				margin: 0;
			}
			.main__article {
				margin: 0 auto;
				max-width: 700px;
				display: flex;
				flex-direction: column;
				align-items: center;
				padding: 10vh 1rem;
			}
			.top__content {
				text-align: center;
			}
			.profile__img {
				border-radius: 50%;
			}
			.content {
				padding-top: 30px;
			}
			.bor_top {
				border-top: 4px solid aquamarine;
			}
			.slider {
				width: 100%;
			}
			.button {
				background-color: #008cba;
				cursor: pointer;
				color: #ffffff;
				padding: 10px;
				border-radius: 10px;
			}
			.button:hover {
				background-color: #40b1d7;
				cursor: pointer;
				color: #ffffff;
				padding: 10px;
				border-radius: 10px;
			}
			.alinear {
				text-align: center;
			}
			.result {
				width: 100%;
				background-color: #6e6e6e;
				padding: 15px;
			}
			.padT-20 {
				padding-top: 20px;
			}
			.wth-70 {
				width: 70%;
			}
		</style>
		<script is:inline>
			// eslint-disable-next-line no-unused-vars, @typescript-eslint/no-unused-vars
			function generar() {
				const longitud = document.getElementById('val').textContent
				const caracteres = 'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789'
				let pass = ''
				for (let i = 0; i < longitud; i++) {
					pass += caracteres.charAt(Math.floor(Math.random() * caracteres.length))
				}
				console.log(pass)
				document.getElementById('pass').value = pass
			}

			// eslint-disable-next-line no-unused-vars, @typescript-eslint/no-unused-vars
			function copiarContrasena() {
				const pass = document.getElementById('pass')
				pass.select()
				document.execCommand('copy')
			}</script>
	</head>
	<body id='sentrac'>
		<article class='main__article'>
			<div class='top__content'>
				<h1 class='font-bold uppercase text-3xl'>Generador de contrase침a</h1>
			</div>
			<div class='content wth-70 bor_top'>
				<p>Longitud de la contrase침a: <span id='val'>8</span></p>
				<p>
					<input
						type='range'
						min='8'
						max='30'
						value='8'
						class='slider'
						id='rango'
						oninput='val.innerText = this.value'
					/>
				</p>
				<p class='alinear'>
					<button id='gen' value='' class='button' onclick='generar()'>Generar Contrase침a</button>
				</p>
			</div>
			<div class='inline-flex padT-20 wth-70'>
				<input
					type='text'
					id='pass'
					value='Contrae침a...'
					class='result alinear bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded-l'
					readonly
				/>
				<button
					class='bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded-r'
					onclick='copiarContrasena()'
				>
					<svg
						xmlns='http://www.w3.org/2000/svg'
						fill='none'
						viewBox='0 0 24 24'
						stroke-width='1.5'
						stroke='currentColor'
						class='w-6 h-6'
					>
						<path
							stroke-linecap='round'
							stroke-linejoin='round'
							d='M9 12h3.75M9 15h3.75M9 18h3.75m3 .75H18a2.25 2.25 0 002.25-2.25V6.108c0-1.135-.845-2.098-1.976-2.192a48.424 48.424 0 00-1.123-.08m-5.801 0c-.065.21-.1.433-.1.664 0 .414.336.75.75.75h4.5a.75.75 0 00.75-.75 2.25 2.25 0 00-.1-.664m-5.8 0A2.251 2.251 0 0113.5 2.25H15c1.012 0 1.867.668 2.15 1.586m-5.8 0c-.376.023-.75.05-1.124.08C9.095 4.01 8.25 4.973 8.25 6.108V8.25m0 0H4.875c-.621 0-1.125.504-1.125 1.125v11.25c0 .621.504 1.125 1.125 1.125h9.75c.621 0 1.125-.504 1.125-1.125V9.375c0-.621-.504-1.125-1.125-1.125H8.25zM6.75 12h.008v.008H6.75V12zm0 3h.008v.008H6.75V15zm0 3h.008v.008H6.75V18z'
						></path>
					</svg>
				</button>
			</div>
		</article>
	</body>
</html>
