.lg-cb-container-checked {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 12px;
	border-radius: 10px;
	font-size: 14px;
	color: white;
	background-color: #7b32d9;
	border-width: 2px;
	border-color: #7b32d9;
}

.lg-cb-container-unchecked {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 12px;
	border-radius: 10px;
	font-size: 14px;
	color: white;
	border-width: 2px;
	border-color: #7b32d9;
	background-color: #7a32d932;
}

.lg-cb-label-box {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	pointer-events: none;
}

.lg-cb-hint {
	font-size: 11px;
	pointer-events: none;
}
