.box {
	position: fixed;
	height: 60vh;
	width: 60vw;
	min-width: 400px;
	border: solid rgb(100, 26, 165) 2px;
	border-radius: 5px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#password-box {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	align-items: baseline;
	align-content: center;
}


#password-text {
	margin: 50px;
	padding: 5px;
	border: solid rgb(100, 26, 165) 1px;
	border-radius: 10px;
	min-width: 200px;
	display: inline-block;
	align-items: center;
	justify-content: center;
	text-align: center;
}

#length {
	accent-color: rgb(100, 26, 165)
}

#generate {
	background-color: rgb(126 34 206);
	border-radius: 28px;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	padding: 12px 24px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #9b14b3;
}

#generate:hover {
	background-color: rgb(100, 26, 165);
}

#generate:active {
	position: relative;
	top: 1px;
}

#settings {
	height: 150px;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	align-content: center;
}