---
const { caption } = Astro.props
---

<button class='bg-[#0572ec] rounded-[60px] py-2 px-4 min-w-[180px] w-auto text-white font-bold text-lg transition ease-in-out duration-150 hover:brightness-90 hover:scale-105 active:scale-95 focus:outline-slate-400 leading-8'>{caption}</button>
