---
import '@components/marsidev/styles/checkbox.css'
---

<div class='flex flex-col items-start	justify-start text-black font-semibold px-2'>
	<div class='marsidev-checkbox flex items-center'>
		<input type='checkbox' id='checkbox_1' />
		<label class='text-[1rem]' for='checkbox_1'>Numbers</label>
	</div>

	<div class='marsidev-checkbox flex items-center'>
		<input type='checkbox' id='checkbox_2' />
		<label class='text-[1rem]' for='checkbox_2'>Symbols</label>
	</div>
</div>
