<div class='flex flex-col items-center justify-center'>
	<h1 class='text-2xl font-bold text-black'>Genere una contraseña ahora.</h1>

	<p class='text-xl font-semibold text-black'>Y manténgase seguro en línea.</p>
</div>
