<!-- bg-[#0a2d4d] -->
<div class='flex flex-col items-center justify-center'>
	<h1 class='text-2xl font-bold text-black'>
		Genere una contraseña segura.
	</h1>

	<p class='text-xl font-semibold text-black'>
		Y manténgase seguro en línea.
	</p>
</div>
