<div
	class='w-full p-8 bg-white rounded-md text-black flex items-center justify-center text-4xl border-t border-l border-r border-b-0 max-w-[800px] h-[115px] relative shadow-[0_2px_8px_rgba(0,0,0,0.15)] mt-6'
>
	abc1236qw76gasjb38gjkasnjkn
</div>
