---
import Layout from '@layout'

import PasswordGenerator from '../../../components/jesusgm/PasswordGenerator.jsx'
---

<Layout title='jesusgm'>
	<style>
		@font-face {
			font-family: 'Orbitron';
			font-style: normal;
			font-weight: 400;
			font-display: swap;
			src: url('/Orbitron-ExtraBold.woff2') format('woff2');
		}

		@font-face {
			font-family: 'Jet Brains Mono';
			font-style: normal;
			font-weight: 400;
			font-display: swap;
			src: url('/JetBrainsMono-Regular.woff2') format('woff2');
		}

		@font-face {
			font-family: 'Jet Brains Mono';
			font-style: normal;
			font-weight: 600;
			font-display: swap;
			src: url('/JetBrainsMono-Bold.woff2') format('woff2');
		}
	</style>
	<div class='max-w-4xl w-full m-auto text-white p-4'>
		<h1
			class='text-4xl mt-8 mb-8 font-special text-psybeam flex gap-6 flex-col md:flex-row items-center md:items-start'
		>
			<a
				class='text-center flex flex-col gap-y-2 pointer text-psybeam'
				href='/'
				title='Back to index'
			>
				<img class='w-28 h-auto astro-XOHQIBPX' src='/logo.svg' alt='Hacktoberfest logo' />
			</a>
			Password generator
		</h1>
		<PasswordGenerator client:load />
	</div>
</Layout>
