---
const { showAll = false } = Astro.props

const MAX_ITEMS = 50

async function getParticipants() {
	const items = await Astro.glob('../pages/entry/*/index.astro')

	return items
		.map((item) => item.url.slice(item.url.lastIndexOf('/') + 1))
		.sort(new Intl.Collator('es').compare)
}

const participants = await getParticipants()

const shownParticipants = showAll ? participants : participants.slice(0, MAX_ITEMS)
---

<h2 class='text-giga font-bold font-special uppercase text-3xl mb-4'>
	{participants.length} Participaciones
</h2>
<ul class='flex flex-wrap gap-7 justify-center'>
	{
		shownParticipants.map((name) => (
			<li class='inline-flex flex-shrink-0'>
				<a
					class='text-white hover:underline text-center flex flex-col gap-y-2 items-center justify-center w-20'
					href={'/entry/' + name}
				>
					<img
						class='rounded-full w-full h-auto'
						src={'https://unavatar.io/github/' + name}
						alt={name}
					/>
					<span class='block w-20 whitespace-nowrap overflow-hidden text-ellipsis text-xs'>
						{name}
					</span>
				</a>
			</li>
		))
	}
</ul>
{
	participants.length > shownParticipants.length ? (
		<div class='mt-2'>
			<a href='/entry' class='text-violet-500 hover:underline'>
				Ver más...
			</a>
		</div>
	) : null
}
