:root {
	--primary-color: #24232b;
	--secondary-color: #d1d1d1;
	--tertiary-color: #35e679;
}

* {
	padding: 0;
	margin: 0;
	font-family: 'Courier New', Courier, monospace;
}

.password-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	height: 100vh;
	width: 26%;
	margin: 0 auto;
	min-width: 300px;
}

.title {
	font-size: 1.6rem;
	margin: 10px 0;
	color: #403f45;
	font-weight: bold;
}

.password {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	background-color: var(--primary-color);
	color: #56555b;
	height: 50px;
	font-size: 2rem;
	text-align: left;
	padding: 0 20px;
	margin: 10px 0;
}

.password-confing {
	width: 100%;
	background-color: var(--primary-color);
	color: #56555b;
	font-size: 1.3rem;
	text-align: left;
	padding: 10px 20px;
	margin: 10px 0;
}

.password-confing .length {
	display: flex;
	justify-content: space-between;
	color: var(--secondary-color);
}

.password-confing .length span {
	color: var(--tertiary-color);
	font-weight: bold;
}

.slide-length {
	width: 100%;
	margin: 10px 0;
}

.slider {
	appearance: none;
	width: 100%;
	height: 10px;
	background: #151515;
	outline: none;
	opacity: 0.8;
	transition: 0.2s;
	transition: opacity 0.2s;
}

.slider:hover {
	opacity: 1;
}

.slider::-webkit-slider-thumb {
	appearance: none;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: var(--secondary-color);
	cursor: pointer;
}

.slider::-moz-range-thumb {
	width: 25px;
	height: 25px;
	background: #04aa6d;
	cursor: pointer;
}

.password-details {
	color: var(--secondary-color);
	margin: 5px 0;
}

.password-details label {
	margin-left: 10px;
}

.btn-generate {
	width: 100%;
	height: 50px;
	margin: 20px 0;
	background-color: var(--tertiary-color);
}
