#jesusgm .btn {
	background: rgb(229 225 230);
	border: medium none;
	border-radius: 2px;
	clip-path: polygon(12px 0, 100% 0, 100% 72%, calc(100% - 12px) 100%, 0 100%, 0 12px);
	color: rgb(23 15 30);
	font-family: 'JetBrains Mono', sans-serif;
	font-size: 16px;
	font-weight: 500;
	line-height: 24px;
	display: inline-flex;
	overflow: hidden;
	padding: 8px 18px;
	text-decoration: none;
	transition: all 0.2s ease 0s;
}

#jesusgm .special {
	filter: drop-shadow(rgba(255 215 77 60%) -1px -1px 2px)
		drop-shadow(rgba(124 127 255 60%) 1px 1px 2px);
	animation: 1.5s ease 0s infinite alternate none running jNbght;
	background: linear-gradient(90deg, rgb(255 215 77) 0%, rgb(64 221 255) 30%, rgb(124 127 255) 85%)
		0% 0% / 200% 100%;
	color: rgb(23 15 30);
}

#jesusgm .special:hover {
	transform: rotate(2deg);
}
