---
import Layout from '@layout'
//import Card from '@components/midudev/Card.jsx'
//import Title from '@components/midudev/Title.svelte'
---

<Layout title='midudev'>
	<h3>Aquí es donde solucionaré el reto que digamos</h3>
	<!-- <Card />
	<Title /> -->
</Layout>
