.app-container {
	background: white;
	padding: 30px;
	display: flex;
	flex-direction: column;
	margin: 0 20%;
}

.app-container-title {
	font-size: 24px;
}

.special-chars-checkbox {
	margin-right: 5px;
}

.generate-button {
	border: 1px solid;
	border-radius: 5px;
	padding: 8px;
	background-color: #4190ef;
	color: white;
}

.generate-button:hover {
	background-color: #2c6cba;
}

.password-input {
	border: 1px solid black;
	border-radius: 5px;
	margin-top: 10px;
	padding: 5px;
}

.copy-button {
	border: 1px solid;
	border-radius: 5px;
	padding: 5px;
	background-color: #495563;
	color: white;
}

.copy-button:hover {
	background-color: #314155;
}

.copy-button.copied {
	background-color: #188210;
}

.copy-butto.copied:hover {
	background-color: #147b23;
}