---
import Layout from '@layout'
import KeyGenerator from '@components/wayaba/KeyGenerator'
---

<Layout title='wayaba'>
	<div class='flex flex-wrap'>
		<div class='my-4 m-auto w-1/3 text-center px-4 py-2'>
			<KeyGenerator client:visible />
		</div>
	</div>
</Layout>
