.container {
	height: 100%;
	width: 100%;
	background: rgb(41, 16, 46);
	background: linear-gradient(90deg, rgba(41, 16, 46, 1) 0%, rgba(215, 53, 226, 1) 100%);
	position: relative;
}

.card {
	position: absolute;
	inset: 0;
	margin: auto;
	width: 50%;
	height: fit-content;
	background-color: #fff;
	border-radius: .3rem;
	box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.466);
}

.generate_password_container {
	display: flex;
	flex-direction: column;
}

.generate_password_content {
	background-color: #000000;
	padding-left: 4px;
	height: 500px;
	max-height: 500px;
	overflow-y: auto;

}

.generate_password_content::-webkit-scrollbar {
	width: 10px;
}

.generate_password_content::-webkit-scrollbar-track {
	background: #f1f1f1;
}

.generate_password_content::-webkit-scrollbar-thumb {
	background: #888;
}

.generate_password_content::-webkit-scrollbar-thumb:hover {
	background: #555;
}

.generate_password_header {
	height: 2rem;
	border-top-left-radius: .3rem;
	border-top-right-radius: .3rem;
	display: flex;
	padding-left: 1rem;
	padding-right: 1rem;
	align-items: center;
	gap: .2rem;
	background: rgb(85, 83, 64);
	background: linear-gradient(90deg, rgba(85, 83, 64, 1) 0%, rgba(80, 78, 64, 1) 100%);
}

.generate_password_title {
	margin-left: .5rem;
	font-weight: 500;
	color: #DFD9A9;
	text-shadow: 1px 1px #000000;
}

.console_line {
	color: #00D800;
	font-weight: normal;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-weight: 400;
	width: 100%;
}

.console_response {
	color: #00D800;
	width: 100%;
	word-wrap: break-word;
}

.simbol {
	color: #82817B;
}

.file_common {
	font-weight: bolder;
	margin-left: 1rem;
	margin-right: 1rem;
}

.file_common:first-child {
	margin-left: 0%;
}

.file {
	color: #ED2826;
}

.folder {
	color: #709ECD;
}

.command_user {
	font-weight: 500;
	color: #42FF55;
}

.command_input {
	background-color: unset;
	border: none;
	outline: none;
}


.circle {
	height: 1.5rem;
	width: 1.5rem;
	border: 1.5px solid #000;
	border-radius: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 12px;
	background-color: #82817B;
}

.header {
	background-color: rgba(0, 0, 0, 0.75);
	height: 2rem;
	color: #fff;
	display: flex;
	align-items: center;
	padding-left: 1rem;
	padding-right: 1rem;
	justify-content: space-between;
	z-index: 10;
}

.activity {
	transition: .2s all;
	cursor: pointer;
}

.activity:hover {
	color: rgba(255, 255, 255, 0.808);
}

.right_header {
	display: flex;
	gap: .5rem;
}

.right_header img {
	cursor: pointer;
	transition: .2s all;
}

.right_header img:hover {
	scale: 1.1;
}

.sidebar {
	position: absolute;
	background-color: rgba(0, 0, 0, 0.75);
	left: 0%;
	top: 2rem;
	height: 96.6%;
	z-index: 1;
	width: 5rem;
	display: flex;
	align-items: center;
	flex-direction: column;
	padding-top: 1rem;
	padding-bottom: 1rem;
	gap: 1rem;
}

.sidebar_item {
	height: 2.5rem;
	width: 2.5rem;
	cursor: pointer;
	transition: .2s all;
}

.sidebar_item:hover {
	scale: 1.1;
}


.grid_icon {
	position: absolute;
	bottom: 1rem;
}