---
import Layout from '@layout'
import Card from '@components/angelograngetto/Card'
---

<Layout title='angelograngetto'>
	<main class='flex flex-col h-full items-center justify-center'>
		<Card client:load />
	</main>
</Layout>
