/* shadows */
.custom-shadow-button,
.custom-shadow {
	box-shadow: -6px -6px 20px rgba(255, 255, 255, 1),
	6px 6px 20px rgba(0, 0, 0, 0.1);
}
.custom-shadow-button:hover {
	box-shadow: inset -6px -6px 10px rgba(255, 255, 255, 0.5),
    inset 6px 6px 20px rgba(0, 0, 0, 0.05);
}

/* Input Range */
.input-range {
	-webkit-appearance: none;
	width: 100%;
	height: 3px;
	background: #FFFFFF;
	border-radius: 10px;
	outline: none;
	border: none;
}
.input-range::-webkit-slider-thumb {
	-webkit-appearance: none;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #32A3B1;
	border: 1px solid #32A3B1;
	cursor: pointer;
}
.input-range::-webkit-slider-thumb:hover {
	background: #00bed7;
	border: 1px solid #00bed7;
}

/* Input Checkbox */
input[type='checkbox'] {
	height: 0;
	width: 0;
	visibility: hidden;
}

.checkbox-label {
	position: relative;
	cursor: pointer;
	width: 40px;
	height: 20px;
	background: #FFFFFF;
	display: block;
	border-radius: 100px;
	transition: background 0.3s;
}

.checkbox-label:after {
	content: '';
	position: absolute;
	top: 2px;
	left: 3px;
	width: 16px;
	height: 16px;
	background: #00bed7;
	border-radius: 90px;
	transition: 0.3s;
}

.checkbox-label.active {
	background: #00bed7;
}

.checkbox-label.active:after {
	left: calc(100% - 3px);
	transform: translateX(-100%);
	background: #FFFFFF;
}

.checkbox-label:active:after {
	width: 22px;
}

/* Tooltip */
.tooltip {
	position: absolute;
	top: calc(-100% + 10px);
	left: calc(50% - 30px);
	font-size: 12px;
	background: #32A3B1;
	color: #FFFFFF;
	width: 60px;
	height: 25px;
	display: grid;
	place-content: center;
	border-radius: 4px;
	opacity: 0;
	transition: 0.3s;
}
.tooltip:after {
	content: '';
	position: absolute;
	top: 100%;
	left: 50%;
	transform: translateX(-50%);
	border: 5px solid transparent;
	border-top-color: #32A3B1;
}
.tooltip.show {
	opacity: 1;
	top: calc(-100%);
}
