/* VARIABLES */
:root {
	--primary: #1c1c1c;
	--secondary: #2c2c2c;
	--white: #e0e0e0;
	--success: #4bb543b4;
}

/* MAIN CONTAINER */

.section {
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	background: var(--primary);
	margin: 0 auto;
	height: 40%;
	width: 500px;
	margin-top: 25px;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	border-radius: 25px;
}
/* TITTLE */

h1 {
	font-family: sans-serif, Arial, Helvetica;
	text-align: center;
	color: var(--white);
	font-size: calc(var(--font-size-base) * 1.3);
}
/* INPUTS */

.passwordInput {
	font-family: sans-serif, Arial, Helvetica;
	color: var(--white);
	margin-bottom: 15px;
	background: none;
	border: 0.1px solid var(--white);
	border-radius: 15px;
	box-sizing: border-box;
	outline: none;
	height: 30px;
	font-size: var(--font-size-base);
	padding: 15px;
	cursor: pointer;
	width: 90%;
}

.inputs-btns {
	margin: 0 auto;
	margin-top: 50px;
	width: 90%;
	display: flex;
	flex-flow: column;
}

.inputs {
	display: flex;
	flex-flow: column;
}

.copy {
	height: 25px;
	width: 25px;
}

.textInput-copy {
	display: flex;
	justify-content: space-between;
}

.range-label {
	color: var(--white);
	text-align: center;
	font-size: var(--font-size-base);
}

.rangeInput {
	-webkit-appearance: none;
	appearance: none;
	width: 100%;
	height: 10px;
	background: var(--white);
	outline: none;
	opacity: 0.7;
	border-radius: 5px;
	-webkit-transition: 0.2s;
	transition: opacity 0.2s;
}

.rangeInput:hover {
	opacity: 1;
}

.rangeInput::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 20px;
	height: 20px;
	background: var(--secondary);
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	border-radius: 50%;
	cursor: pointer;
}

.rangeInput::-moz-range-thumb {
	width: 20px;
	height: 20px;
	background: var(--secondary);
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	cursor: pointer;
}

/* BTN CREATEPASSWORD */

.createPassword {
	margin: 0 auto;
	margin-top: 25px;
	border: 1px solid var(--white);
	border-radius: 50%;
	font-family: sans-serif, Arial, Helvetica;
	color: var(--white);
	height: 50px;
	width: 50px;
	transition: all 0.3s ease-in-out;
}

.createPassword:hover {
	color: var(--primary);
	background: var(--white);
}

/* ALERT */

.alert {
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	height: 50px;
	width: 200px;
	position: absolute;
	right: 0;
	top: 0;
	margin-top: 25px;
	margin-right: 25px;
	border-radius: 25px;
	border: 1px solid var(--success);
	background: rgba(75, 181, 67, 0.09);
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all 0.3s ease-in-out;
}

.alert-text {
	text-shadow: 0 0 5px var(--white);
	font-family: sans-serif, Arial, Helvetica;
	color: var(--white);
}

/* MEDIA QUERIES */

@media (max-width: 600px) {
	.section {
		width: 70%;
	}
	.passwordInput {
		width: 85%;
	}
}

@media (max-width: 300px) {
	.alert {
		width: 150px;
	}
}
