---
import Layout from '@layout'
import Card from '@components/DyLaNHurtado/Card.vue'
---

<Layout title='DyLaNHurtado'>
	<div class='w-full h-screen bg-gradient-to-r from-cyan-500 to-violet-400'>
		<div
			class='w-full h-full flex justify-center flex-col items-center text-white bg-black bg-opacity-40 p-0 xl:p-10'
		>
			<Card client:load />
		</div>
	</div>
</Layout>
