---
import HeaderCard from '@components/jhonatan1022780/HeaderCard.svelte'
import GenPassword from '@components/jhonatan1022780/GenPassword.svelte'
import Layout from '../../../layouts/Layout.astro'
import Container from '@components/jhonatan1022780/Ui/Container.svelte';
---

<Layout title='Generate password'>
	<Container>
		<div class='max-w-xl w-full'>
			<picture class="mb-10 inline-block">
				<img src='/logo.svg' alt='Generate password' class='w-full' />
			</picture>
			<HeaderCard client:visible />
			<GenPassword client:load />
		</div>
	</Container>
</Layout>
