---
import PasswordGenerator from '@components/prubianes/PasswordGenerator'
import Layout from '@layout'
---

<Layout title='prubianes'>
	<div class='flex justify-start items-center flex-col text-white'>
		<h3>Solución del Reto</h3>
		<PasswordGenerator client:visible />
	</div>
</Layout>
