
	.generator{
		display: flex;
		flex-direction: column;
	}

	.generator-title{
		color: var(--color-distant-blue);
		font-size: 1rem;
		font-weight: 700;
		text-transform: uppercase;
		margin-bottom: 0.25rem;
		margin-top: 0.5rem;
	}

	.generator-password{
		background-color: var(--color-steel-blue);
		padding: 1rem 2rem;
		font-size: 1.5rem;
		text-align: center;
		border-radius: 0.5rem;
		margin-bottom: 0.5rem;
	}

	.generator-card{
		background-color: var(--color-steel-blue);
		padding: 0.75rem 1rem;
		font-size: 1rem;
		text-align: center;
		border-radius: 0.5rem;
		margin-bottom: 0.5rem;
		gap: 1rem;

		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.generator-button{
		margin-top: 2rem;
		background: radial-gradient(circle, var(--color-purple-blue) 0%, var(--color-light-blue) 91%);
		padding: 1rem 2rem;
		text-transform: uppercase;
		font-weight: 700;
		border-radius: 0.5rem;
	}