input[type="range"] {
	-webkit-appearance: none;
	width: 100%;
	height: 0.2rem;
	background: rgba(255, 255, 255, 0.6);
	border-radius: 0.5rem;
	background-image: linear-gradient(var(--color-light-blue), var(--color-light-blue));
	background-size: 40% 100%;
	background-repeat: no-repeat;
}

/* Input Thumb */
input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	height: 1.25rem;
	width: 1.25rem;
	border-radius: 100%;
	background: var(--color-white);
	cursor: grab;
	box-shadow: 0 0 2px 0 #555;
	transition: background .3s ease-in-out;
}

input[type="range"]::-webkit-slider-thumb:hover {
	background: var(--color-light-blue);
}

/* Input Track */
input[type="range"]::-webkit-slider-runnable-track  {
	-webkit-appearance: none;
	box-shadow: none;
	border: none;
	background: transparent;
}