.switch {
	--switch-width: 3rem;
	--switch-height: 1.5rem;
	--switch-slider-size: 1rem;
	--spacing: 0.25rem;

	position: relative;
	display: inline-block;
	width: var(--switch-width);
	height: var(--switch-height);
}

.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.switch-slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: 0.4s;
	transition: 0.4s;
	border-radius: 1rem;
}

.switch-slider:before {
	position: absolute;
	content: '';
	height: var(--switch-slider-size);
	width: var(--switch-slider-size);
	left: var(--spacing);
	bottom: var(--spacing);
	background-color: white;
	-webkit-transition: 0.4s;
	transition: 0.4s;
	border-radius: 50%;
}

input:checked + .switch-slider {
	background-color: var(--color-light-blue);
}

input:focus + .switch-slider {
	box-shadow: 0 0 1px var(--color-light-blue);
}

input:checked + .switch-slider:before {
	--distance: calc(var(--switch-width) - (var(--spacing) * 2) - var(--switch-slider-size));

	-webkit-transform: translateX(var(--distance));
	transform: translateX(var(--distance));
}
