---
import Layout from '@layout'
import Generator from '@components/Diegosotomayor1/Generator'
---

<Layout title='Diegosotomayor1'>
	<main class='bg-[url("/grain-dark.png")]'>
		<Generator client:load />
	</main>
</Layout>
