@import url('https://fonts.googleapis.com/css2?family=Cairo+Play&display=swap');

.containerPassGen {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 20px auto;
	max-width: 500px;
	height: 600px;
	border-radius: 8px;
	padding: 20px;
	color: #dadada;
}
.containerInputPass {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	position: relative;
	width: 350px;
}
.title {
	color: #fff;
	font-family: 'Cairo Play', cursive;
	font-size: 40px;
	margin-bottom: 30px;
	text-align: center;
}
.button {
	color: #fff;
	border: 2px solid #fff;
	font-size: 20px;
	padding: 6px 16px 6px 16px;
	margin: 20px;
	border-radius: 6px;
	transition: 0.3s;
}
.button:hover {
	background-color: #dadada;
	color: #000;
}
.inputCont {
	position: relative;
}
.inputRange {
	width: 310px;
	margin: 20px 0 20px 0;
}
.labelRange {
	font-size: 24px;
	width: 30px;
	margin: 0 0 0 12px;
	text-align: right;
}
.containerRange {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}
.svgGenerate,
.svgCopy {
	width: 30px;
	transition: transform 0.2s;
	position: absolute;
}
.svgGenerate {
	stroke: #000;
	stroke-width: 8px;
	right: 50px;
}
.svgCopy {
	fill: #000;
	right: 10px;
}
.svgGenerate:hover,
.svgCopy:hover {
	transform: scale(1.1);
}
.headerContainer {
	width: 350px;
	margin-bottom: 40px;
}
.headerContainer:hover {
	transform: scale(1.05);
}

/* @media (max-width: 470px) {

} */
