---
import Layout from '@layout'
import Password from '@components/franciscodiazpaccot73/Password'
---

<Layout title='FranciscoDiazPaccot73'>
	<main>
		<Password client:visible />
	</main>
</Layout>

<style>
	@font-face {
		font-family: 'Orbitron';
		font-style: normal;
		font-weight: 400;
		font-display: swap;
		src: url('/Orbitron-ExtraBold.woff2') format('woff2');
	}

	@font-face {
		font-family: 'Jet Brains Mono';
		font-style: normal;
		font-weight: 400;
		font-display: swap;
		src: url('/JetBrainsMono-Regular.woff2') format('woff2');
	}

	@font-face {
		font-family: 'Jet Brains Mono';
		font-style: normal;
		font-weight: 600;
		font-display: swap;
		src: url('/JetBrainsMono-Bold.woff2') format('woff2');
	}

	@keyframes binary {
		25% {
			content: '01100110 01101111 01110010 00100000 01100001 00100000 01110011 01110101 01110010 01110000 01110010 01101001 01110011 01100101 00100001 00100001 01100110 01101111 01110010 00100000 01100001 00100000 01110011 01110101 01110010 01110000 01110010 01101001 01110011 01100101 00100001 00100001 01100110 01101111 01110010 00100000 01100001 00100000 01110011 01110101 01110010 01110000 01110010 01101001 01110011 01100101 00100001 00100001';
		}
		50% {
			content: '01001111 01110000 01100101 01101110 00100000 01110100 01101000 01100101 00100000 01100011 01101111 01101110 01110011 01101111 01101100 01100101 01001111 01110000 01100101 01101110 00100000 01110100 01101000 01100101 00100000 01100011 01101111 01101110 01110011 01101111 01101100 01100101 01001111 01110000 01100101 01101110 00100000 01110100 01101000 01100101 00100000 01100011 01101111 01101110 01110011 01101111 01101100';
		}
		75% {
			content: '01100110 01101111 01110010 00100000 01100001 00100000 01110011 01110101 01110010 01110000 01110010 01101001 01110011 01100101 00100001 00100001 01100110 01101111 01110010 00100000 01100001 00100000 01110011 01110101 01110010 01110000 01110010 01101001 01110011 01100101 00100001 00100001 01100110 01101111 01110010 00100000 01100001 00100000 01110011 01110101 01110010 01110000 01110010 01101001 01110011 01100101 00100001 00100001';
		}
	} /*!sc*/
	100% {
		content: '01001111 01110000 01100101 01101110 00100000 01110100 01101000 01100101 00100000 01100011 01101111 01101110 01110011 01101111 01101100 01100101 01001111 01110000 01100101 01101110 00100000 01110100 01101000 01100101 00100000 01100011 01101111 01101110 01110011 01101111 01101100 01100101 01001111 01110000 01100101 01101110 00100000 01110100 01101000 01100101 00100000 01100011 01101111 01101110 01110011 01101111 01101100';
	}

	main::before {
		-webkit-mask-image: linear-gradient(
			90deg,
			rgba(0, 0, 0, 0) 5%,
			rgb(0, 0, 0) 20%,
			rgb(0, 0, 0) 80%,
			rgba(0, 0, 0, 0) 95%
		);
		animation: 1s linear 1s infinite normal none running binary;
		color: rgb(229, 225, 230);
		content: '01001111 01110000 01100101 01101110 00100000 01110100 01101000 01100101 00100000 01100011 01101111 01101110 01110011 01101111 01101100 01100101 01001111 01110000 01100101 01101110 00100000 01110100 01101000 01100101 00100000 01100011 01101111 01101110 01110011 01101111 01101100 01100101 01001111 01110000 01100101 01101110 00100000 01110100 01101000 01100101 00100000 01100011 01101111 01101110 01110011 01101111 01101100';
		font-size: 12px;
		left: 0px;
		opacity: 0.3;
		overflow: hidden;
		pointer-events: none;
		position: absolute;
		text-align: center;
		top: 0px;
		white-space: nowrap;
		width: 100%;
		z-index: 200;
	}
</style>
