.drzz21container {
	height: 100vh;
	background-color: #222831;
	font-family: 'Jet Brains Mono', monospace;
}

.drzz21text {
	color: #00adb5;
	text-decoration: none;
}

.drzz21text[disabled] {
	cursor: not-allowed;
}

.drzz21textDisabled {
	color: #222831;
	text-decoration: line-through;
	text-decoration-color: #00adb5;
	text-decoration-thickness: 1px;
	opacity: 0.8;
}

.sInput[type='range'] {
	appearance: none;
	margin-right: 15px;
	height: 7px;
	background: rgb(255 255 255 / 60%);
	border-radius: 5px;
	background-image: linear-gradient(#00adb5, #00adb5);
	background-size: 100%;
	background-repeat: no-repeat;
}

.sInput[type='range']::-webkit-slider-thumb {
	appearance: none;
	height: 20px;
	width: 20px;
	border-radius: 50%;
	background: #00adb5;
	cursor: ew-resize;
	box-shadow: 0 0 2px 0 #00adb5;
	transition: background 0.3s ease-in-out;
}

.sInput[type='range']::-webkit-slider-runnable-track {
	appearance: none;
	box-shadow: none;
	border: none;
	background: transparent;
}
