#rafa-lozano button {
	padding: 8px 16px;
	border-radius: 10px;
	outline: none;
	border: none;
	transition: transform 0.3s ease-in-out;
	color: #101010;
}

#rafa-lozano .primary {
	background-color: var(--primary-color-active);
	color: #101010;
}

#rafa-lozano .primary:hover {
	background-color: var(--primary-color-hover);
	transform: scale(1.05);
}

#rafa-lozano .default {
	background-color: var(--secondary-color-active);
	color: var(--secondary-color-hover);
}

#rafa-lozano .default:hover {
	background-color: var(--secondary-color-hover);
	color: var(--secondary-color-active);
	transform: scale(1.05);
}

#rafa-lozano .disabled {
	background-color: #d3d3d3;
	cursor: not-allowed;
}

#rafa-lozano button:disabled {
	background-color: #d3d3d3;
	cursor: not-allowed;
}
