button {
	padding: 8px 16px;
	border-radius: 10px;
	outline: none;
	border: none;
	transition: transform 0.3s ease-in-out;
	color: #101010;
}

.primary {
	background-color: var(--primary-color-active);
	color: #101010;
}
.primary:hover {
	background-color: var(--primary-color-hover);
	transform: scale(1.05);
}
.default {
	background-color: var(--secondary-color-active);
	color: var(--secondary-color-hover);
}
.default:hover {
	background-color: var(--secondary-color-hover);
	color: var(--secondary-color-active);
	transform: scale(1.05);
}
.disabled {
	background-color: #d3d3d3;
	cursor: not-allowed;
}
button:disabled {
	background-color: #d3d3d3;
	cursor: not-allowed;
}
