#swc-main {
	background-color: rgb(58 58 58);
	color: #252525;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

#swc-container{
	font-family: monospace;
	width: min-content;
	height: auto;
	min-width: 500px;
	border-radius: 0.5rem;
	background-color: hsl(108deg 59% 83%);
	border: solid 1px rgb(30 30 30);
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding: 2rem;
	display: flex;
}

#swc-header h1 {
	font-size: 1.3rem;
	text-align: center;
	margin-block-end: 1.2rem;
}

#swc-header p {
	margin-block-end: 1.1rem;
}

#swc-label{
	font-size: 1.1rem;
	margin-block-end: 1rem;
}



.swc-row{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
	width: 100%;
	margin-block-end: 1rem;
}

#swc-genpass {
	font-size: 1.4rem;
	width: 100%;
	text-align: center;
	line-height: 1.5;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-block-end: 1rem;
}

#swc-genpass-container {
	width: 100%;
	margin-block-start: 1rem;
}

#swc-button {
	flex-direction: row;
	padding: 0.8rem 1.6rem;
	border-radius: 0.5rem;
	color: white;
	background-color: rgb(17 77 17);
	min-width: 10rem;
}

#swc-genpass-button {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	gap: 1rem;
	padding: 0.8rem 1.6rem;
	border-radius: 0.5rem;
	border: solid white 1px;
	min-width: 10rem;
}

#swc-icon{
	width: 20px;
	height: 20px;
}

#swc-copy-text{
	text-align: center;
	width: 100%
}

#swc-small{
	text-decoration: underline;
	text-decoration-color: purple;
}
@media screen and (max-width: 430px){
	#swc-container {
		min-width: unset;
		width: 95%;
		padding-top: 2rem;
		padding-bottom: 2rem; 
		max-height: unset;
		height: auto
	}

	#swc-header h1 {
		font-size: 1.3rem;
		text-align: center;
		margin-block-end: 1.8rem;
	}
	
	#swc-header p {
		margin-block-end: 1.8rem;
	}

	#swc-genpass{
		font-size: 0.9rem;
		max-width: 95%;

		/* overflow-wrap: break-word; */
		word-break: break-all;
	}

	#swc-slider {
		margin-block-start: 1rem;;
		width: 90%;
	}

	.swc-row {
		margin-block-end: 1.5rem;
	}
}
