---
import Container from '@components/monicatvera/Container'
import Layout from '@layout'
---

<Layout title='monicatvera'>
	<main class='font-mono h-screen w-screen flex justify-center items-center flex-col'>
		<Container client:visible />
	</main>
</Layout>
