---
import Layout from '@layout'
import PasswordGenerator from '@components/antonyjaen';
---


<Layout title='antonyjaen'>
	<h1 class="text-4xl py-6 text-white mt-5 text-center">Password Generator</h1>
    <PasswordGenerator client:only="react" />
</Layout>
