---
import Layout from '@layout'
import PasswordGenerator from '@components/sfontfreda/passwordGenerator.vue'
---

<Layout title="sfontfreda's hacktober 🎃.">
	<main>
		<PasswordGenerator client:visible />
	</main>
</Layout>