---
import Layout from '@layout'
import PasswordGenerator from '@components/h4rasho/passwordGenerator.jsx'
---

<Layout title='Wrost Password Generator'>
	<main class='grid min-h-screen place-content-center text-[#e9c46a]'>
		<div class='flex flex-col justify-center max-w-xl bg-[#264653] px-8 py-10 rounded-xl gap-2'>
			<h1 class='text-center text-3xl'>Worst Password Generator</h1>
			<PasswordGenerator client:only='react' />
		</div>
	</main>
</Layout>
