@keyframes animationUp {
	0% {
		opacity: 0;
		transform: translateY(20px);
	}
	100% {
		opacity: 1;	
		transform: translateY(0);
	}
}

@keyframes animationOpen {
	from {
		opacity: 0;
		transform: scale(0.3);
	}
	to {
		opacity: 1;
		transform: scale(1);
	}
}

.animate-up {
	animation-name: animationUp;
	animation-duration: 0.8s;
}

.animation-open {
	animation-name: animationOpen;
	animation-duration: 0.35s;
	animation-timing-function: ease-out;
}


