@keyframes diegocadavid-animationUp {
	0% {
		opacity: 0;
		transform: translateY(20px);
	}
	100% {
		opacity: 1;	
		transform: translateY(0);
	}
}

@keyframes diegocadavid-animationOpen {
	from {
		opacity: 0;
		transform: scale(0.3);
	}
	to {
		opacity: 1;
		transform: scale(1);
	}
}

.diegocadavid_animate-up {
	animation-name: diegocadavid-animationUp;
	animation-duration: 0.8s;
}

.diegocadavid_animation-open {
	animation-name: diegocadavid-animationOpen;
	animation-duration: 0.35s;
	animation-timing-function: ease-out;
}


