---
import Layout from '@layout'
import { PassWordGenerator } from '@components/ImJoseHidalgo/PassWordGenerator.jsx'
---

<Layout title='imjosehidalgo'>
	<main class='w-full h-full flex items-center justify-center bg-[#191D24] text-[#dddddd] font-special'>
		<PassWordGenerator client:visible />
	</main>
</Layout>
