---
import Layout from '@layout'
import { PassWordGenerator } from '@components/ImJoseHidalgo/PassWordGenerator.jsx'
---

<Layout title='imjosehidalgo'>
	<main class='w-full h-screen flex items-center justify-center bg-[#EBF5FC] text-[#32A3B1] font-special'>
		<PassWordGenerator client:visible />
	</main>
</Layout>
