.link,
.img {
	display: block;
}

.link {
	position: absolute;
	top: 1rem;
	left: 1rem;
	width: 2.2rem;
	height: 2.2rem;
	opacity: 0.7;
	transition: opacity 500ms ease;
}

.link:hover {
	opacity: 1;
}

.img {
	width: 100%;
	height: auto;
	max-width: 100%;
}
