---
import Layout from '@layout'
import PasswordGenerator from '@components/johnsi15/PasswordGenerator'
---

<Layout title='johnsi15'>
	<main class="container mx-auto max-w-[80%] sm:max-w-lg pt-12 text-slate-300">
		<PasswordGenerator client:only="react" />
	</main>
</Layout>