.password-generator__wrapper {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fafafa;
	padding: 1rem 0.2rem;
	font-family: 'Inconsolata', monospace;
}

.password-generator__main-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.5rem;
  width: 100%;
  max-width: 30rem;
}

.password-generator__main-container h1 {
  align-self: center;
  font-size: 1.5rem;
  color: rgba(250, 250, 250, 0.5);
}

.password-generator__output {
  background-color: transparent;
  width: 100%;
}

.password-generator__output--icon {
  max-width: 2rem;
  max-height: 2rem;
  cursor: pointer;
}

.divHoverEffect {
  padding: 0.2rem;
}

.divHoverEffect:hover {
  background-color: rgba(250, 250, 250, 0.2);
  border-radius: 50%;
  padding: 0.2rem;
}

.password-generator__output--icon--hover-effect:hover {
  z-index: 10;
  position: absolute;
  background-color: rgba(250, 250, 250, 0.2);
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  border-radius: 50%;
}

.password-generator__containers {
  background-color: #23232a;
  padding: 2rem;
  border-radius: 0.4rem;
}

.password-generator__first-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.password-generator__second-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.password-generator__options-main-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.password-generator__option-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.password-generator__chekbox {
  -webkit-appearance: none;
  width: 1rem;
  height: 1rem;
  background-color: #23232a;
  border: 1px solid #fafafa;
}
.password-generator__chekbox:checked {
  background-color: #a4ffaf;
  border: 1px solid transparent;
}

.password-generator__chekbox:hover {
  cursor: pointer;
  border: 1px solid #a4ffaf;
}

.password-generator__chekbox::before {
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

.password-generator__button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  background-color: #a4ffaf;
  color: #23232a;
  padding: 0.7rem;
  border-radius: 0.2rem;
  border: 1px solid transparent;
}

.password-generator__button:hover {
  border: 1px solid #a4ffaf;
  background-color: #23232a;
  color: #a4ffaf;
}
.password-generator__chekbox--container {
  position: relative;
}

.password-generator__chekbox--checkmark {
  position: absolute;
  width: 0.6rem;
  height: 0.6rem;
  background-color: #23232a;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  left: 15%;
  bottom: 40%;
}
