.password-option__option-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.password-option__chekbox--container {
  position: relative;
}

.password-option__chekbox {
    -webkit-appearance: none;
    width: 1rem;
    height: 1rem;
    background-color: #23232a;
    border: 1px solid #fafafa;
  }
  .password-option__chekbox:checked {
    background-color: #a4ffaf;
    border: 1px solid transparent;
  }
  
  .password-option__chekbox:hover {
    cursor: pointer;
    border: 1px solid #a4ffaf;
  }
  
  .password-option__chekbox::before {
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  }

.password-option__chekbox--checkmark {
  position: absolute;
  width: 0.6rem;
  height: 0.6rem;
  background-color: #23232a;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  left: 15%;
  bottom: 40%;
  cursor: pointer;
}
