.password-strength__main-container {
    background-color: #181720;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1.5rem;
	border-radius: 0.2rem;
}

.password-strength__main-container p {
    color: rgba(250, 250, 250, 0.5);
    font-size: 1rem;
}

.password-strength__level-bars-container {
    display: inline-flex;
    width: auto;
    gap: 0.5rem;
    align-items: center;
}

.password-strength__level-bars-container p{
    font-size: 1.5rem;
    color: #fafafa;
    
}

.password-strength__level-bar {
    height: 2rem;
    width: 0.7rem;
    border: 1px solid #fafafa;
}

.active {
    border: 1px solid transparent;
    background-color: #f7ce69;
}

@media (max-width: 450px) {
    .password-strength__main-container {
        padding: 0.5rem 0.4rem;
    }
}