---
import LengthSliderDefinition from './LengthSliderDefinition.astro'
---

<LengthSliderDefinition />
<script type='module'>
	class PasswordInputs extends HTMLElement {
		constructor() {
			super()
			this.attachShadow({ mode: 'open' })
			this.inputsValues = { length: 8 }
		}

		static get styles() {
			return /* css */ `
				.container {
					display: flex;
					flex-direction: column;
					flex-wrap: nowrap;
					padding: 8px;
					font-size: 1rem;
					font-size: 1.25rem;
					background-color: var(--color-background-form-inside);
					gap: 8px;
				}
				`
		}

		updateLength({ detail }) {
			this.inputsValues.length = detail.value
		}

		connectedCallback() {
			this.render()
			this.lengthSlider = this.shadowRoot.querySelector('length-slider')
			this.updateLength = this.updateLength.bind(this)
			this.lengthSlider.addEventListener('length-changed', this.updateLength)
		}

		disconnectedCallback() {
			this.lengthSlider.removeEventListener('length-changed', this.updateLength)
		}

		render() {
			this.shadowRoot.innerHTML = /* html */ `
				<style>${PasswordInputs.styles}</style>
				<section class="container">
					<length-slider></length-slider>
				</section>

			`
		}
	}

	customElements.define('password-inputs', PasswordInputs)
</script>
