---
export interface Props {
	title: string
}

const { title } = Astro.props
---

<!DOCTYPE html>
<html lang='en'>
	<head>
		<meta charset='UTF-8' />
		<meta name='viewport' content='width=device-width' />
		<link rel='icon' type='image/svg+xml' href='/favicon.svg' />
		<meta name='generator' content={Astro.generator} />
		<meta name='description' content='Participa en el Hacktoberfest con la comunidad de midudev' />
		<meta name='twitter:card' content='summary_large_image' />
		<meta name='twitter:site' content='@midudev' />
		<meta name='twitter:creator' content='@midudev' />
		<meta name='twitter:title' content='Hacktoberfest 2022' />
		<meta
			name='twitter:description'
			content='Participa en el Hacktoberfest con la comunidad de midudev'
		/>
		<meta name='twitter:image' content='https://hacktoberfest-2022.vercel.app/image.jpg' />

		<meta name='og:image' content='https://hacktoberfest-2022.vercel.app/image.jpg' />
		<meta name='og:title' content='Hacktoberfest 2022' />
		<meta
			name='og:description'
			content='Participa en el Hacktoberfest con la comunidad de midudev'
		/>
		<meta name='og:site_name' content='Midudev Hacktoberfest 2022' />
		<meta name='og:type' content='website' />

		<title>{title}</title>
	</head>
	<body>
		<slot />
		<style>
			:root {
				--font-size-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
				--font-size-lg: clamp(1.2rem, 0.7vw + 1.2rem, 1.5rem);
				--font-size-xl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);

				--color-text: hsl(12, 5%, 4%);
				--color-bg: hsl(10, 21%, 95%);
				--color-border: hsl(17, 24%, 90%);
			}

			html {
				font-family: 'Jet Brains Mono', system-ui, sans-serif;
			}

			body {
				background: #170f1e;
				margin: 0;
			}

			html,
			body {
				min-height: 100%;
			}
		</style>

		<style is:global>
			code {
				font-family: 'Jet Brains Mono', Menlo, Monaco, Lucida Console, Liberation Mono,
					DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
			}
		</style>
	</body>
</html>
