.animation--enter {
	animation: 0.2s appear normal ease-in-out;
}

.animation--close {
	animation: 0.2s dissapear normal ease-in-out;
}

@keyframes appear {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes dissapear {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}
