.container {
	height: 100%;
	width: 100%;
	background-color: #fffe;
	display: flex;
	align-items: center;
	justify-content: center;
}

.card {
	width: 50%;
	background-color: #fff;
	border-radius: 0.5rem;
	padding: 1rem;
	box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.466);
}

.generate_password_container {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.generate_password_result {
	background-color: rgba(216, 216, 216, 0.521);
	height: 4rem;
	border-radius: 0.7rem;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.5rem;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	padding-right: 0%;
}

.password {
	width: 100%;
	text-align: center;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	padding: 0.5rem;
}

.clipboard {
	height: 100%;
	width: 5rem;
	min-width: 5rem;
	max-width: 5rem;
	border-left: 1px solid #000;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0.5rem;
	cursor: pointer;
	transition: 0.2s all;
	border-top-right-radius: 0.7rem;
	border-bottom-right-radius: 0.7rem;
}

.clipboard:hover {
	background-color: rgba(196, 196, 196, 0.61);
}

.clipboard_icon {
	height: 75%;
	width: 75%;
}

.input_wrapper {
	width: 100%;
	height: fit-content;
	background-color: rgba(216, 216, 216, 0.521);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	border-radius: 0.7rem;
	padding: 1rem;
}

.input {
	height: 4rem;
	width: 100%;
	border-radius: 0.7rem;
}

.output {
	font-size: 1.2rem;
}

.btn {
	width: 100%;
	height: 4rem;
	border-radius: 0.7rem;
	background-color: rgb(96, 206, 68);
	color: #fff;
	transition: 0.2s all;
	text-transform: uppercase;
	font-size: 1.2rem;
	font-weight: 500;
	letter-spacing: 2px;
}

.btn:hover {
	background-color: rgba(96, 206, 68, 0.822);
}

.toast {
	display: none;
	position: absolute;
	margin-left: auto;
	color: #fff;
	margin-right: auto;
	right: 0%;
	left: 0%;
	top: 3rem;
	width: 500px;
	height: 100px;
	border-radius: 0.5rem;
	padding: 1rem;
	align-items: center;
	justify-content: center;
	box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.466);
	font-size: 1.3rem;
	transition: 0.2s all;
}
