#cabp393 .display-password {
	color: #000;
	display: flex;
	min-height: 2rem;
	padding-top: 0.5rem;
	align-items: center;
	border-radius: 100px;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	word-break: break-all;
	padding-bottom: 0.5rem;
	background-color: #fff;
	justify-content: center;
}

#cabp393 .display-password:hover {
	cursor: pointer;
	background-color: #f5f5f5;
}

#cabp393 .btn-container {
	display: flex;
	justify-content: space-around;
}

#cabp393 .btn {
	color: #333;
	padding-top: 0.5rem;
	padding-left: 1.5rem;
	border-radius: 100px;
	padding-right: 1.5rem;
	padding-bottom: 0.5rem;
	border: 1px solid #333;
}

#cabp393 .btn:hover {
	cursor: pointer;
}

#cabp393 .enable {
	color: #fff;
}

#cabp393 .notification {
	top: 5%;
	opacity: 0;
	width: 200px;
	padding: 10px;
	position: fixed;
	text-align: center;
	border-radius: 10px;
	background-color: #333;
	left: calc(50% - 100px);
	transition: all 0.5s ease-out;
}

#cabp393 .noti-on {
	opacity: 1;
}

#cabp393 .combinations span {
	color: #333;
}

#cabp393 .combinations {
	text-align: center;
}

#cabp393 .container {
	gap: 2rem;
	width: 50%;
	color: #fff;
	display: flex;
	padding: 5rem;
	margin: 5rem auto;
	align-content: center;
	flex-direction: column;
	justify-content: center;
	background-color: #000;
}

#cabp393 .border-gradient {
	--angle: 0deg;

	border: 1px solid;
	border-image: conic-gradient(from var(--angle), red, yellow, lime, aqua, blue, magenta, red) 1;
	animation: 10s rotate linear infinite;
}

@keyframes rotate {
	to {
		--angle: 360deg;
	}
}

@property --angle {
	syntax: '<angle>';
	initial-value: 0deg;
	inherits: false;
}
