main {
	display: flex;
	flex-direction: column;
	width: 100vw;
	height: 100vh;
	justify-content: center;
	align-items: center;
	font-family: 'Orbitron', sans-serif;
}

h1,
h1 ~ .password-length {
	color: #fff;
	text-align: center;
	text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 20px #ff00ff, 0 0 200px #ff00ff,
		0 0 92px #ff00ff, 0 0 20px #ff00ff, 0 0 300px #ff00ff;
	margin: 20px;
	font-size: 32px;
}

h1 ~ .password-length {
	font-size: 20px;
	margin: 9px;
}

input {
	width: 300px;
}

.input-range-box {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	width: 400px;
	height: 50px;
}

p {
	color: white;
}
