#adamelamrani {
	display: flex;
	flex-direction: column;
	width: 100vw;
	height: 100vh;
	justify-content: center;
	align-items: center;
	font-family: Orbitron, sans-serif;
}

#adamelamrani h1,
#adamelamrani h1 ~ .password-length {
	color: #fff;
	text-align: center;
	text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 20px #f0f, 0 0 200px #f0f,
		0 0 92px #f0f, 0 0 20px #f0f, 0 0 300px #f0f;
	margin: 20px;
	font-size: 32px;
}

#adamelamrani h1 ~ .password-length {
	font-size: 20px;
	margin: 9px;
}

#adamelamrani input {
	width: 300px;
}

#adamelamrani #display-password {
	display: flex;
	position: relative;
	justify-content: center;
	font-size: 24px;
	align-items: center;
	width: 500px;
	height: 50px;
	border-radius: 9px;
	border-width: 2px;
	border-color: #fff;
	color: #fff;
	text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #0fa, 0 0 82px #0fa,
		0 0 92px #0fa, 0 0 102px #0fa, 0 0 151px #0fa;
	box-shadow: 0 0 50px 7px rgb(0 250 170 / 50%);
}

#svg-icon {
	position: absolute;
	right: 1%;
}

.input-range-box {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	width: 400px;
	height: 50px;
}

#adamelamrani p {
	color: white;
}
