:root {
	--background-color: #f8f5ff;
	--button-background-color: #1654d0;
	--button-hover-color: #d2ddfa;
	--primary-color-active: #ffb60c;
	--primary-color-hover: #ffc847;
	--secondary-color-active: #1654d0;
	--secondary-color-hover: #d2ddfa;
}
.passwordGenerator__container h1 {
	font-size: 24px;
	font-weight: 400;
	line-height: 36px;
	color: #101010;
	margin-bottom: 32px;
}
.passwordGenerator__container {
	margin: 88px auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border-radius: 20px;
	background-color: var(--background-color);
	max-width: 480px;
	padding: 32px;
}
.copyPassword__container {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 80%;
}
.passwordGenerated {
	font-weight: 500;
	padding: 8px 16px;
	border-radius: 8px;
	width: 100%;
	min-height: 45px;
	background-color: var(--button-hover-color);
	margin-right: 8px;
}
.settings__container {
	width: 80%;
	margin: 24px 0px;
}
.settings__container input {
	width: 100%;
}
.settings__container h3 {
	font-size: 18px;
	font-weight: 400;
	line-height: 24px;
	color: #101010;
	margin-bottom: 16px;
}
.passwordRange__container {
	display: flex;
	justify-content: space-between;
	width: 100%;
}
@media (max-width: 480px) {
	.passwordGenerator__container {
		width: 90%;
	}
}
